<% @messages.each do |message| %>
    <%= image_tag message.user.user_image_url.to_s, :style => "width: 40px" %>
    <%= message.created_at.strftime("%d/%m/%y") %><br/>
    <%= message.message %><br/><br/>
<% end %>
<div class="message-box11">
  <%= form_for Message.new, :url => ride_message_path(@ride, req_id: @req_user) do |f| %>
      <%= image_tag current_user.user_image_url.to_s, :style => "width: 40px" %>
      <div class="field">
        <%= f.label :message %>
        <%= f.text_area :message %>
        <%= f.hidden_field :owner_id, :value => (@req_user.id) %>
      </div>
      <%= f.submit "Send" %>
  <% end %>
</div>

