<% if logged_in? %>
    <% messages = @ride.messages.where("user_id = ? or owner_id = ?", current_user.id, current_user.id).ordered %>                 <!-- fetch all the messages of current_user who is owner or sender of message -->
    <% receiver = [] %>
    <% owner = @ride.owner %>
    <% receiver << (owner && owner.id) %>                                           <!-- assign owner id to receiver -->
    <% messages.each do |message| %>                                                <!-- fetch all messages -->
        <% unless receiver.include? message.user_id %>
            <% receiver << message.user.id %>
        <% end %>
        <%= image_tag message.user.user_image_url.to_s, :style => "width: 40px" %>
        <%= message.created_at.strftime("%d/%m/%y") %><br/>
        <%= message.message %><br/><br/>
    <% end %>
    <% receiver.delete(current_user.id) %>                                          <!-- check for not message to yourself -->
    <% if receiver.blank? %>
        Can't send messages to yourself
    <% else %>
        <div class="message-box11">
          <%= form_for Message.new, :url => ride_message_path(contact_me: contact_me) do |f| %>
              <%= image_tag current_user.user_image_url.to_s, :style => "width: 40px" %>
              <div class="field">
                <%= f.label :message %>
                <%= f.text_area :message %>
                <%= f.hidden_field :owner_id, :value => (receiver.first) %>              <!--hidden field for owner_id in message assign it to receiver-->
              </div>
              <%= f.submit "Send" %>
          <% end %>
        </div>
    <% end %>
<% end %>
