<% if logged_in? %>
  <div id="popup-<%= ride.id %>" class="post_ride-popup" style="display: none;">
    <div class="post_ride-popup-overlay"></div>
    <div class="post_ride-popup-centered" style="height: 291px; width: 490px;">
      <div class="post_ride_vertically-centered"> <a class="closed" href="#" title="Closed"> </a>
        <div class="post_ride_window" style="overflow: hidden;">
          <div class="heading-bar">
            <h2 class="send-message-h2">Send a Message</h2>
          </div>
          <div class="popup-left-col">
            <a class="popup-user" href="#">
              <%= image_tag current_user.user_image_url.to_s, :alt => current_user.full_name %>
            </a>
            <span class="break"></span>
            <a href="#"><%= current_user.full_name %></a>
          </div>
          <div class="popup-right-col">
            <%= form_for Message.new, :url => ride_message_path(ride,contact_me: contact_me) do |f| %>
              <%= f.text_area :message, :cols => 30, :rows => 20, :class => "input-textarea", :placeholder => 'Type your message here... (example: Hi Winston, I would like to join your ride)' %>
              <%= f.hidden_field :owner_id, :value => participant.user && participant.user.id %>              <!--hidden field for owner_id in message assign it to receiver-->
              <input type="submit" name="submit" class="input-submit" value="Send Message" />
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
