<script type="text/javascript">
  $(document).ready(function(){
    $("#child_toolbar").val(window.toolbar.visible);
  });
</script>
<div id="fb-root"></div>
<<<<<<< HEAD
<%"https://graph.facebook.com/fid/picture" %>
=======
>>>>>>> aec6f947d99701262ff0126eda5f6f4b02230348
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=365401603490972";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="row">
	<div class="span12">
		<%= form_tag sessions_path :class => 'form-horizontal' do %>
			<fieldset>
				<legend>Sign in with your existing account</legend>
			<div class="control-group">
				<%= label_tag :email, nil, :class => 'control-label' %>
				<div class="controls">
					<%= text_field_tag :email, params[:email], :class => 'input-xlarge' %>
				</div>
			</div>
			<div class="control-group">
				<%= label_tag :password , nil, :class => 'control-label' %>
				<div class="controls">
					<%= password_field_tag :password ,nil, :class => 'input-xlarge' %>
				</div>
        <%= hidden_field_tag :child_toolbar  %>
			</div>
			<div class="control-group">
				<%= check_box_tag :remember_me, 1, params[:remember_me], :class => 'pull-left', :style => 'margin-right:5px;' %>
				<%= label_tag :remember_me, nil, :class => 'pull-left' %>
			</div>
			<br style="clear:both;float:none;" />
			<div class="actions">
				<%= submit_tag "Sign in", :class => "btn btn-primary" %>
			</div>
			<div class="control-group">
				<div class="fb-login-button" data-width="300" data-max-rows="1">Login with Facebook </div>	
			</div>
      <%= link_to 'Login with Facebook', auth_at_provider_path(:provider => :facebook) %>
			</fieldset>
		<% end %>
	</div>
</div>
