<div class="row">
	<div class="span12">
		<%= form_tag sessions_path :class => 'form-horizontal' do %>
			<fieldset>
				<legend>Sign in with your existing account</legend>
			<div class="control-group">
				<%= label_tag :email, nil, :class => 'control-label' %>
				<div class="controls">
					<%= text_field_tag :email, params[:email], :class => 'input-xlarge' %>
				</div>
			</div>
			<div class="control-group">
				<%= label_tag :password , nil, :class => 'control-label' %>
				<div class="controls">
					<%= password_field_tag :password ,nil, :class => 'input-xlarge' %>
				</div>
			</div>
			<div class="control-group">
				<%= check_box_tag :remember_me, 1, params[:remember_me], :class => 'pull-left', :style => 'margin-right:5px;' %>
				<%= label_tag :remember_me, nil, :class => 'pull-left' %>
			</div>
			<br style="clear:both;float:none;" />
			<div class="actions">
				<%= submit_tag "Sign in", :class => "btn btn-primary" %>
			</div>
			<div class="control-group">
				<a id="fbLogin" href="#">
					<%= image_tag("facebookconnect.gif") %>
				</a>
			</div>
			</fieldset>
		<% end %>
	</div>
</div>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script>
      FB.init({ apiKey: '<%=@facebook_api_key %>' });
	  $('#fbLogin').bind('click', function() {
	 	FB.login(function(response) {}, {scope: 'email'});
		return false;
      });
</script>