<%= javascript_include_tag "jquery-1.7.1.min" %>
<div class="subnav">
  <ul class="nav-pills nav">
    <li>
      <%= link_to "My Ride", rides_path %>
    </li>
    <li>
      <%= link_to "Ride input page", new_ride_path %>
    </li>
    <li>
      <%= link_to "Ride search page", search_rides_path %>
    </li>
    <li class="active">
      <%= link_to "<<< Back to search results", search_rides_path %>
    </li>
  </ul>
</div>
<br/>
<script type="text/javascript">
  $(document).ready(function(){
    $("#btn-book-ride").click(function () {
      $("#btn-book-ride").hide();
      $(".info_view").show();
    });
  });
</script>
<table border="1" cellpadding="3">
  <tr>
    <th>Offered by</th>
    <th>From</th>
    <th>To</th>
    <th>Departure date</th>
    <th>Departure time</th>
    <th>Flexibility</th>
    <th>Duration</th>
    <th>Vehicle Type</th>
    <th>Available Seats</th>
    <th>Total Price</th>
    <th>Notes</th>
  </tr>
  <tr align="center">
    <td><%= @ride.owner && "#{@ride.owner.first_name} #{@ride.owner.last_name}" %></td>
    <td><%= @ride.from_location.name %></td>
    <td><%= @ride.to_location.name %></td>
    <td><%= @ride.departure_date %></td>
    <td><%= @ride.departure_time.strftime("%H:%M %Z") %></td>
    <td><%= @ride.flexibility_in_minutes %> mins</td>
    <td><%= time_to_minutes(@ride.duration_in_minutes) %></td>
    <td><%= @ride.ride_type %></td>
    <td><%= @ride.remaining_seats %></td>
    <td><%= number_to_currency(@ride.total_price-((@ride.total_price/@ride.available_seats)*@ride.booked_seats))%></td>
    <td><%= @ride.notes%></td>
  </tr>
</table>

<div class="left_bag">
  <div class="seat_view">
    <br/>
    <%= form_for @ride_participant, :url => ride_ride_participants_path(@ride) do |f| %>
      <% ts=@ride.remaining_seats %>
      <% tp=@ride.total_price-((@ride.total_price/@ride.available_seats)*@ride.booked_seats) %>
      <%= f.select "number_of_seats", options_for_select((1..ts).map { |i| [i.to_s + ' seat @ ' + (number_with_precision((tp.to_f)/i, :precision => 2)).to_s + ' each ', i] })%>
      <br/>
      <div class="price_view">Total = $<span id="price"><%=  @ride.total_price-((@ride.total_price/@ride.available_seats)*@ride.booked_seats) %></span></div><br/><br/>
      <input type="button" value="Book Ride" id="btn-book-ride"/>
    </div><br/>

    <div class="info_view" style="display: none">
      <br/>
      <b>Contact Info and Options</b><br/><br/>
      <%= f.label :phone,"Enter your phone number" %>
      <%= f.text_field :phone %>
      <br/>
      <div>
        <br/>Prefered method of communication<br/><br/>
        <table><tr>
            <td>
              <%= f.radio_button :mode_of_communications, 'sms_text' %>
            </td>
            <td>
              <%= f.label :mode_of_communications, 'Sms text', :for => 'ride_participant_mode_of_communications_sms_text'%>
            </td>
            <td>
              <%= f.radio_button :mode_of_communications, 'phone_call' %>
            </td>
            <td>
              <%= f.label :mode_of_communications, 'Phone call', :for => 'ride_participant_mode_of_communications_phone_call'%>
            </td>
            <td>
              <%= f.radio_button :mode_of_communications, 'email' %>
            </td>
            <td>
              <%= f.label :mode_of_communications, 'Email', :for => 'ride_participant_mode_of_communications_email'%>
            </td>
          </tr>
        </table>
      </div>
      <p><%= f.submit "Booking Ride" %></p>
    </div>
  <%end%>
</div>
<% @ride.ride_participants.active_participants.role_wise.each do |rider| %>
<div class="profile">
    <%= image_tag rider.owner.user_image.url.to_s %><br/>
    <b><%= rider.user.first_name%></b><br/><br/>
    City: <%= rider.user.city%><br/>
    Town: <%= rider.user.town%><br/>
    School: <%= rider.user.school%><br/>
</div>
<% end %>
<div class="clear"></div>