<% body_css_class('FindaRide') %>
<%= javascript_include_tag 'ofi5buc' %>
<%= javascript_include_tag "jquery.phonemask" %>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

<script type="text/javascript">
  $(document).ready(function () {
  $(".chzn-select").chosen();

  $("#costtrip").tooltip({ effect: 'slide', tip: '#costtrip_tip' });
	  $("#ques_mark").tooltip({ effect: 'slide', tip: '#ques_mark_tip'});

  <% if cookies[:contact] && cookies[:contact].to_i == @ride.id %>
    <% if current_user && current_user.messages.where("ride_id = ?", @ride).blank? %>
      $(".message-box").dialog();                                             // jquery for message dailog box message appear
    <% end %>
  <% end %>


  });
</script>


<section id="FindaRide" class="Main">

  <!-- #RideSearch -->
  <!-- PostRideBanner -->
  <div class="backbotton">
    <%= link_to "Back to Search Results", "#{search_rides_path}?#{params[:return_url]}", :class => "button post km_click_event_by_text", :id => "A1", :title=>'Back to Search Results' %>
  </div>

  <div class="RidesdetailWrapper">

    <div class="ridesdetail_heading">
      <h3><%= @ride.departure_date.strftime("Departing %A, %B #{@ride.departure_date.day.ordinalize}") %></h3>
      <p>Time Remaining: <span><%= distance_of_time_in_words_to_now(@ride.actual_departure_time) %></span></p>
      <span class="break"></span>
    </div>


    <ul class="RidesList">

      <li>

        <table class="RideDetails">
          <tr>

            <th class="Leave" scope="row"><span class="Icon">Icon</span> Leave:</th>
            <td class="LeaveArriveTime"><strong><%= @ride.departuredatetime.strftime("%I:%M %p") %></strong></td>
            <td class="PlusMinus">&plusmn; <%= @ride.flexibility_in_minutes %> min.</td>
            <td><strong><%= @ride.from_location && @ride.from_location.name %></strong></td>
          </tr>
          <tr>
            <th class="Arrive" scope="row"><span class="Icon">Icon</span> Arrive:</th>
            <td class="LeaveArriveTime"><strong><%= (@ride.departuredatetime + @ride.duration_in_minutes.minutes).strftime("%I:%M %p") %></strong></td>
            <td class="PlusMinus">&plusmn; <%= @ride.flexibility_in_minutes %> min.</td>
            <td><strong><%= @ride.to_location && @ride.to_location.name %><span class="SameLocationIcon">Check</span></strong></td>
          </tr>
        </table> <!-- RideDetails -->
        <%= image_tag "cartype_#{@ride.ride_type}.png" %>

        <ul class="UserList">
          <li><p><%= @ride.notes|| 'notes not available...' %></p></li>
          <li class="Arrow">Arrow</li>
        </ul> <!-- UserList -->
      </li> <!-- END OF A RIDE -->





      <!-- END OF A RIDE -->
      <!-- END OF A RIDE -->
      <!-- END OF A RIDE -->
    </ul>

    <div class="trip_map">

      <div class="trip">


        <div class="trip_detail book_ride">
          
            <fieldset>
              <label>Availability</label>
              <select style="width: 282px; float: left;" class="chzn-select" name="Select_From" id="selRW5" onchange='$(".total_amount").html($("#selRW5").val());$("#ride_participant_number_of_seats").val($("#selRW5").prop("selectedIndex")+1)'>
                <% @ride.remaining_seats.times do |seat_count| %>
                  <option value="<%= number_to_currency(@ride.price_per_seat*(seat_count+1)) %>"><%= seat_count+1 %> seat - <%= number_to_currency(@ride.price_per_seat*(seat_count+1)) %> one-way</option>
                <% end %>
              </select>
            </fieldset>

            <p><a title="How It Works Â»">How It Works »</a><br/>
              <span id="best_number" class="total"><span class="total_amount"><%= number_to_currency(@ride.price_per_seat) %></span> Total</span>
            </p>

            <div class="tooltip" style="position: absolute; top: 35px; left: 498px; opacity: 1; display: none;"><p><i>Total is calculated by number of seats and total ride price</i></p>
              <span style="left: 209px;" class="TooltipArrow">Arrow</span>
            </div>

            <fieldset>
              <input type="submit" value="Book This Ride Now!" class="submit" onclick="$('.book_ride').hide(); $('#trip_cost_slip').show();return false;" />
            </fieldset>
          
        </div>


        <div class="trip_detail" id="trip_cost_slip" style="display:none;" ><h4>Trip Cost <%= image_tag 'ques_mark.gif',:id=>"costtrip" %></h4>
          <div style="position: absolute; top: 35px; left: 498px; opacity: 1; display: none;" class="tooltip" id="costtrip_tip"><p><i>Total is calculated by number of seats and total ride price</i></p>
            <span class="TooltipArrow">Arrow</span></div>
          <span class="TooltipArrow"></span>
          <span class="trip_cost total_amount"><%= number_to_currency(@ride.price_per_seat) %></span>
          <h4>Service Fee <span>free for a limited time!</span></h4>
          <span class="trip_cost"> 0.00</span>
          <hr />
          <h4>TOTAL</h4>
          <span class="trip_cost answer total_amount"><%= number_to_currency(@ride.price_per_seat) %></span>
        </div>

        <%#= render :partial=>'friend_in_common' %>
      </div>


      <%= render :partial=>'gmap'  %>


      <span class="break"></span>
    </div>





    <ul id="about_person">
      <% @ride.ride_participants.active_participants.role_wise.each_with_index do |rider,index| %>
        <li><span class="person_image"><%= image_tag rider.user.user_image_url %></span><p><strong><%= rider.user.full_name %></strong><span class="small_text"> (<%= (index==0)? "organizer" : "passenger" %>)</span><br>
            <% if index==0 %><i><a href="#">contact me!</a></i><% end %> </p></li>
      <% end %>


      <% @ride.remaining_seats.times do %>
        <li><span class="person_image">
            <%= image_tag "empty_58-58.jpg" %></span><p><strong>+1 seat open</strong><br><i>Book this ride now!</i></p></li>
      <% end %>
    </ul>




    <% if @ride.active? %>
      <div id="divPrice">
        <% ts = @ride.remaining_seats %>
        <% if ts > 0 %>
          <% if current_user && (@ride.ride_participants.active_participants.pluck(:user_id).include? current_user.id) %>                     <!--check for if the person want to join is own ride -->
            <span>You're already in this ride</span>
          <% else %>
            <%= render :partial=>'form' %>
          <% end %>
        </div>
      <% else %>
        <span>Sold out</span>
      <% end %>
    <% end %>

  </div>


</section> <!-- Main #FindaRide -->
