<h1>Welcome to my site, <%= @owner.first_name %></h1>     <!--here we send email to user when someone inbox him (Inbox message email Temppelate) -->
<p>
<%=@user.first_name%>&nbsp;<%=@user.last_name%> Sent you a message.
</p>
<p>Message: <%=@message.message%></p><br/>
You may check your inbox <%=  link_to "Inbox" %>
<p>Thanks for joining and have a great day!</p>
