<h1>Hi
  all,</h1>                            <!-- here send eamil to user when cancel his some ride (Cancel Ride Email Template)-->
<p>
  <%= @user.full_name %> has Cancelled his Ride.
</p>
<br/>

Now the Active ride participants of the ride are following <br/>
<ul>
  <% @ride.ride_participants.confirmed_or_owner_participants.each do |participant| %>
      <li> Name Participant: <%= participant.user.full_name %>
        phone: <%= participant.phone %>, email: <%= participant.user.email %>;
        preference: <%= participant.user.mode_of_communications %></li>
  <% end %>
</ul>
<p>Thanks for joining and have a great day!</p>
