<h1>Hi all,</h1>
<p>
  <%= @user.full_name %> has just joined our ride.
</p>
<p> His details are</p>
<p> Email:  <%= @user.email %> <br/>
  Contact: <%= @user.phone %><br/>
  preference: <%= @user.mode_of_communications %>
</p>
<br/>
<% if @ride.ride_participants.confirmed_or_owner_participants.where("user_id != #{@user.id}").present? %>
    <p> Other Contact info of all Ride Participants of this Ride are as following <br/>
    <ul>
      <% @ride.ride_participants.confirmed_or_owner_participants.where("user_id != #{@user.id}").each do |participant| %>
          <li>
            Name Participant: <%= participant.user.full_name %>
            phone: <%= participant.phone %>, email: <%= participant.user.email %>;
            preference: <%= participant.user.mode_of_communications %>
          </li>
      <% end %>
    </ul>
    </p>
<% else %>
    <br/> On this ride there is no more particpants except ride's owner.
<% end %>

<p>Thanks for joining and have a great day!</p>
