<% body_css_class('HowWorks') %>

<section class="Main">
			<div class="HowItWorksSplash">
				<h1>How It Works</h1>
				<div class="VideoWrapper">
					<%= image_tag 'temp_video_placeholder.jpg' %>
				</div> <!-- VideoWrapper -->
			
			</div> <!-- HowItWorks -->
			<ul class="FourSteps clearfix">
				<li>
					<h3>Post a Ride</h3>
					<%= image_tag 'foursteps_step1.png' %>
				</li>
				<li>
					<h3>Get Matched</h3>
					<%= image_tag 'foursteps_step2.png' %>
				</li>
				<li>
					<h3>Meet Up</h3>
					<%= image_tag 'foursteps_step3.png' %>
				</li>
				<li>
					<h3>Share Your Ride</h3>
					<%= image_tag 'foursteps_step4.png' %>
				</li>
			</ul>
		</section>
