<% body_css_class('FindaRide') %>
<% content_for :top_js do %>
  <script type="text/javascript">
    $(function () {
      $('div.fancy-file input:file').bind('change blur', function() {
        var $inp = $(this), fn;
        fn = $inp.val();
        if (/fakepath/.test(fn))
        fn = fn.replace(/^.*\\/, '');
        $('.image_text').val(fn);
      });
    });
  </script>
<% end %>
<section id="FindaRide" class="Main_wide">			          
<%= form_for @user, :html => {:multipart => true} do |f| %>
  <div class="view_profile_left_container">
    <%= image_tag @user.user_image_url, :alt => "user" %><br/>
    <p>Select an image file to upload</p>
    <fieldset style="padding-left: 0px;">
      <div class='fancy-file'>
        <input type="text" class="image_text" name="image_text" />
        <button class='fancy-file-button image_search'>Browse</button>
        <div class='input-container'>
          <%= f.file_field :user_image %>
        </div>
      </div>
    </fieldset>
  </div>
  <div class="view_profile_right_container">
    <div class="main-heading">
      <h2><%= @user.full_name %></h2>
    </div>
    <div class="profile_inner_part">
      <div class="profile_form">
          <fieldset><label>About me</label>
            <%= f.text_area :about, :class => "form_text_area"  %>
          </fieldset>
          <fieldset><label>Interests</label>
            <%= f.text_area :interest, :class => "form_text_area"  %>
          </fieldset>
          <fieldset><label>Work</label>
            <%= f.text_field :work, :class => "form_text"  %>
          </fieldset>
          <fieldset><label>School</label>
            <%= f.text_field :school, :class => "form_text"  %>
          </fieldset>
          <fieldset><label>Current City</label>
            <%= f.text_field :city, :class => "form_text"  %>
          </fieldset>
          <fieldset><label>Hometown</label>
            <%= f.text_field :town, :class => "form_text"  %>
          </fieldset>
          <fieldset><label>Phone Number (kept private)</label>
            <%= f.text_field :phone, :class => "form_text"  %>
          </fieldset>
          <hr />
          <fieldset><label>Primary Email</label>
            <span class="primary_email"><%= @user.email %></span>
          </fieldset>
          <hr />
          <fieldset class="check"><br />
            <input type="checkbox" name="checkbox" class="list_checkbox" /><p class="checkbox_text list_text"><strong>Special email announcements</strong><br />srevice changes, holiday travel, etc.</p>
          </fieldset>
          <fieldset class="check">
            <input type="checkbox" name="checkbox" class="list_checkbox" /><p class="checkbox_text list_text"><strong>Ride Success Surveys</strong><br /> 
              occasional email to find out if you have</p>
          </fieldset>
          <fieldset  class="check">
            <input type="submit" name="submit" class="profile_submit" value="Save Changes &amp; Update" />
            <a href="#" title="Deactivate Account" class="deactive">Deactivate Account</a>
          </fieldset>
        <span class="break"></span>
      </div>
    </div>
  </div>
  <span class="break"></span>
  <% end %>
</section> <!-- Main #FindaRide -->
