<section id="FindaRide" class="Main_wide">			          
<%= form_for @user, :html => {:multipart => true} do |f| %>
  <div class="view_profile_left_container">
    <p>Select an image file to upload</p>
    <fieldset>
      <%= f.file_field :user_image %>
    </fieldset>
  </div>
  <div class="view_profile_right_container">
    <div class="main-heading">
      <h2><%= @user.full_name %></h2>
    </div>
    <div class="profile_inner_part">
      <h2>About me</h2>
      <p><%= @user.about %></p>
      <h2>Interests</h2>
      <p>I love to listen to podcasts on the road. Favorites include This American Life, Democracy Now! Madness Radio, Camping, Skiing, running, dinners with friends.</p>
      <div class="profile_form">
          <fieldset><label>Work</label>
            <%= f.text_field :work, :class => "form_text"  %>
          </fieldset>
          <fieldset><label>School</label>
            <%= f.text_field :school, :class => "form_text"  %>
          </fieldset>
          <fieldset><label>Current City</label>
            <%= f.text_field :city, :class => "form_text"  %>
          </fieldset>
          <fieldset><label>Hometown</label>
            <%= f.text_field :town, :class => "form_text"  %>
          </fieldset>
          <fieldset><label>Phone Number (kept private)</label>
            <%= f.text_field :phone, :class => "form_text"  %>
          </fieldset>
          <hr />
          <fieldset><label>Primary Email</label>
            <span class="primary_email"><%= @user.email %></span>
          </fieldset>
          <hr />
          <fieldset class="check"><br />
            <input type="checkbox" name="checkbox" class="list_checkbox" /><p class="checkbox_text list_text"><strong>Special email announcements</strong><br />srevice changes, holiday travel, etc.</p>
          </fieldset>
          <fieldset class="check">
            <input type="checkbox" name="checkbox" class="list_checkbox" /><p class="checkbox_text list_text"><strong>Ride Success Surveys</strong><br /> 
              occasional email to find out if you have</p>
          </fieldset>
          <fieldset  class="check">
            <input type="submit" name="submit" class="profile_submit" value="Save Changes &amp; Update" />
            <a href="#" title="Deactivate Account" class="deactive">Deactivate Account</a>
          </fieldset>
        <span class="break"></span>
      </div>
    </div>
  </div>
  <span class="break"></span>
  <% end %>
</section> <!-- Main #FindaRide -->
