<div class="main-msg-box" style="border: 1px solid;">
  <div class="left-all-msgs" style="border: 1px solid; float: left; margin-left: 5px; margin-top: 5px; width: 632px;">
    <h6>Feedbacks</h6>
    <% @past_rides.each do |past_ride| %>
        <%ride = past_ride.ride %>
        <%if ride.ride_participants.active_participants.count > 1%>
        <a href="<%= new_ride_ride_participant_path(ride) %>"><%= ride.to_location && ride.to_location.name %>&nbsp;&nbsp;
          on <%= ride.departuredatetime.to_date %></a>
        | <%= link_to "feedback", new_ride_feedback_path(ride), :target => "frame-a" %>
        <br/>
        <%end%>
    <% end %>
  </div>
  <div class="right-all-msgs" style="border: 1px solid; float: left; margin-left: 5px; margin-top: 5px;">
    <iframe src="<%= params[:iframe] %>" name="frame-a" width="600" height="650"></iframe>
    <!-- iframe div for feedback given -->
  </div>
</div>