<% body_css_class('FindaRide') %>
<% content_for :top_js do %>
  <%= javascript_include_tag "jquery.tinyscrollbar.min.js" %>
  <script type="text/javascript">
    $(document).ready(function(){
      $('#scrollbar1').tinyscrollbar({ sizethumb: 15 });
      $.ajax({
        type: "GET",
        url: $(".thread").first().attr("href"),
        success: function(data){
          $(".message_dialogue").html(data);
          $(".message_dialogue").show();
          $('#scrollbar5').tinyscrollbar({ sizethumb: 15 });
          $(".messages_submit").click(function () {
            $(this).closest("form").submit();
          });
          }
        });
      $('.thread').click(function () {
        $(".message_dialogue").hide();
        $.ajax({
          type: "GET",
          url: this.href,
          success: function(data){
            $(".message_dialogue").html(data);
            $(".message_dialogue").show();
            $('#scrollbar5').tinyscrollbar({ sizethumb: 15 });
            $(".messages_submit").click(function () {
              $(this).closest("form").submit();
            });
            }
          });
          return false;
      });
    });
  </script>	
<% end %>
<% content_for :top_css do %>
  <%= stylesheet_link_tag :website %>
  <%= stylesheet_link_tag :skin %>
<% end %>
<section id="FindaRide" class="Main">
  <%= hidden_field_tag "first_ride", @messages.first.ride_id %>
  <%= hidden_field_tag "first_sender", @messages.first.user_id %>
  <div class="messagesWrapper">
    <div class="ridesdetail_heading">
      <h3>Inbox</h3>
      <span class="break"></span>
    </div>
    <div id="scrollbar1">
      <div class="scrollbar">
        <div class="track">
          <div class="thumb">
            <div class="end">
            </div>
          </div>
        </div>
      </div>
      <div class="viewport">
        <div class="overview">
          <ul>
            <% @messages.each do |msg| %>
              <% sender=User.find(msg.user_id) %>
              <% ride=Ride.find(msg.ride_id) %>
              <li>
                <div class="inbox_section">
                  <span class="person_image">
                    <img src="<%= sender.user_image_url %>" style ="width: 58px; height: 58px;" alt="image">
                  </span>
                  <a title="<%= sender.full_name %>"><%= sender.full_name %></a>
                </div>
                <div class="find_out">
                  <div class="place_date_contant">
                    <%= ride.from_location && ride.from_location.name  %> >> <%= ride.to_location && ride.to_location.name %> on <%= ride.departuredatetime.strftime("%m/%d")%>
                    <%= link_to "", ride_message_path(ride.id.to_s)+"?req_id=#{sender.id.to_s}", :class => "thread" %>
                  </div>
                  <div class="index_main_cout">
                    <h3><%= msg.message %></h3>
                    <span class="timing">sent <%= time_ago_in_words(msg.created_at) %> ago</span>
                  </div>
                </div>
                <span class="break"></span>
                <hr>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div> 
  <div class="message_dialogue" style="display:none;">
  </div>
  <span class="break"></span>
</section> <!-- Main #FindaRide -->
