<h6>My Inbox</h6><br/><br/>
<table border="1" cellpadding="10px" cellspacing="10">
  <% if @user.owned_messages.blank? %>
    No messages
  <% else %>
    <% @user.owned_messages.rev_ordered.each do |u| %>
      <% sender=User.find(u.user_id) %>
      <% ride=Ride.find(u.ride_id) %>
      <tr>
        <td><a href="<%=ride_message_path(u.ride_id)%>">From: <%= sender.first_name %>&nbsp;<%= sender.last_name.chars.first %>&nbsp;&nbsp;"<%=u.message%>"&nbsp;&nbsp;<%=u.created_at.strftime("%d/%m/%y")%></a></td>
        <td><a href="<%= new_ride_ride_participant_path(ride)%>"><%=ride.to_location && ride.to_location.name%>&nbsp;&nbsp; on <%=ride.departure_date%></a></td>
      </tr>
    <%end%>
  <%end%>
</table>