<% if owner.present? %>
  <div class="feedback_big_box">
    <% @feedback = current_user.feedbacks.where(:owner_id => owner.id, :ride_id => @ride.id).first || Feedback.new %>               <!-- feedbacks b/w owner and user -->
    <% if @feedback.new_record? %>
      <%=  form_for Feedback.new, :url => ride_feedback_path(@ride) do |f| %>
        <div class="person_container">
          <div class="inbox_section">
            <span class="person_image one_person">
              <%= image_tag current_user.user_image_url.to_s, :alt => current_user.full_name %>
            </span>
            <a href="<%=user_path(current_user)%>">You</a>
          </div>
          <span class="target"></span>
          <div class="inbox_section">
            <span class="person_image one_person">
              <%= image_tag owner.user_image_url.to_s, :alt => owner.full_name %>
            </span>
            <a href="<%=user_path(owner)%>"><%= owner.full_name %></a>
          </div>
          <div class="rating">
            <span class="rating_icon">
              <%= link_to "","", :class => "ratings", :id => "thumbs_up" %>
              <%= link_to "","", :class => "ratings", :id => "neutral" %>
              <%= link_to "","", :class => "ratings", :id => "thumbs_down" %>
            </span>
            <span class="rating_text">Select Rating</span>
          </div>
        </div>
        <div class="person_container">
          <%= f.text_area :feedback, :cols => 30, :rows => 5, :class => "feedback_area", :placeholder => "PLease enter your feedback here..." %>
          <%= f.hidden_field :ride_id, :value =>(@ride.id) %>                       <!-- ride_id assign for which ride against feedback gave -->
          <%= f.hidden_field :owner_id, :value =>(owner.id) %>                      <!--owner_id assign for feedback-->
          <%= f.hidden_field :status, :value =>"" %>                      <!--owner_id assign for feedback-->
          <a href="#" title="Submit" class="submit feedback-submit">Submit</a>
          <span class="break"></span>
        </div>
      <% end %>
    <% else %>
      <table>
        <tr>
          <td>
            Status:
          </td>
          <td>
            <%= @feedback.status && @feedback.status.titleize %>
          </td>
        </tr>
        <tr>
            <td>
              <%= @feedback.feedback %>
            </td>
          </tr>
      </table>
    <% end %>
  </div>
<% end %>
