<% if owner.present? %>
<a href="<%=user_path(owner)%>"><%= owner && "#{owner.full_name}" %> </a> |
<a href="<%=new_ride_ride_participant_path(@ride.id)%>" target="frame-a"><%= @ride.to_location && @ride.to_location.name %>&nbsp;on&nbsp;<%=@ride.departure_date %></a>
<br/><%= image_tag owner.user_image_url %>
<% @feedback = current_user.feedbacks.where(:owner_id => owner.id, :ride_id => @ride.id).first || Feedback.new %>
<div class="message-box">
	<% if @feedback.new_record? %>
  <% @left_count =  @left_count + 1 %>
  <%=  form_for Feedback.new, :url => feedback_path do |f| %>
    <table>
      <tr>
        <td>
          <%= f.radio_button :status, 'thumbs_up'%>
        </td>
        <td>
          <%= f.label :status, 'thumbs_up', :for => 'feedback_status_thumbs_up' %>
        </td>
        <td>
          <%= f.radio_button :status, 'thumbs_down' %>
        </td>
        <td>
          <%= f.label :status, 'thumbs_down', :for => 'feedback_status_thumbs_down' %>
        </td>
        <td>
          <%= f.radio_button :status , 'nutrel' %>
        </td>
        <td>
          <%= f.label :status, 'nutrel', :for => 'feedback_status_nutrel' %>
        </td>
      </tr>
    </table>
    <div class="field">
      <%= f.label :feedback %>
      <%= f.text_area :feedback%>
      <%= f.hidden_field :ride_id, :value =>(@ride.id) %>
      <%= f.hidden_field :owner_id, :value =>(owner.id) %>
    </div>
    <%= f.submit "Send"%>
  <hr/>
  <%end%>
<% else%>

<table>
  <tr>
    <td>
      Status: 
    </td>
    <td>
      <%= @feedback.status && @feedback.status.titleize %>
    </td>
  </tr>
	<tr>
	    <td>
	      <%= @feedback.feedback %>
	    </td>
	  </tr>
</table>

<% end %>
</div>
  <%end%>
