<div class="container">
  <section id="code">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>
  </section>
</div>
<div class="container">
  <section id="forms">

    <div class="clear"></div>
        <% if current_user %>

    <div class="subnav">
      <ul class="nav-pills nav">
        <li>
          <%= link_to "My Ride", rides_path %>
        </li>
        <li class="active">
          <%= link_to "Ride input page", new_ride_path %>
        </li>
        <li>
          <%= link_to "Ride search page", search_rides_path %>
        </li>
        <li>
          <%= link_to "My Dashboard", dashboard_path %>
        </li>
      </ul>
    </div>
    <% end %>
    <%= render "form" %>
  </section>
</div>