<div class="subnav">
  <ul class="nav-pills nav">
    <li class="active">
      <%= link_to "Ride input page", new_ride_path %>
    </li>
    <li>
      <%= link_to "Ride search page", search_rides_path %>
    </li>
  </ul>
</div>

<%= form_for @ride do |f| %>
  <div class="field">
    <%= f.label :from_city %>
    <%= f.select :from_city, CITY %>
  </div>
  <div class="field">
    <%= f.label :to_city %>
    <%= f.select :to_city, CITY %>
  </div>
  <div class="field">
    <%= f.label :departure_date %>
    <%= f.date_select :departure_date %>
  </div>
  <div class="field">
    <%= f.label :departure_time %>
    <%= f.time_select :departure_time %>
  </div>
  <div class="field">
    <%= f.label :flexibility %>
    <%= f.text_field :flexibility %>
  </div>
  <div class="field">
    <%= f.label :duration %>
    <%= f.text_field :duration %>
  </div>
  <div class="field">
    <%= f.label :ride_type %>
    <%= f.radio_button :ride_type, 'Sedon', :checked =>true %>
    <%= f.label :ride_type, 'Sedon'%>
    <%= f.radio_button :ride_type, 'Suv' %>
    <%= f.label :ride_type, 'Suv' %>
    <%= f.radio_button :ride_type, 'Van' %>
    <%= f.label :ride_type, 'Van'%>
  </div>
  <div class="field">
    <%= f.label :available_seats %>
    <%= f.text_field :available_seats %>
  </div>
  <div class="field">
    <%= f.label :price_per_seat %>
    <%= f.text_field :price_per_seat  %>
  </div>
  <div class="field">
    <%= f.label :notes %>
    <%= f.text_area :notes  %>
  </div>

  <p><%= f.submit "Create Ride" %></p>
<% end %>