<script type="text/javascript" >
  function goto_what_time(){
    $('#what-time').show(); $('#where-to').hide();return false;
  }
  function goto_what_else(){
    $('#what-else').show(); $('#what-time').hide();return false;
  }
</script>
<%= form_for(@ride, :url => create_ride_rides_path, :id => 'RideSearch') do |f| %>


  <div class="post_ride_popup_container" id="where-to">


    <div class="Container_position">

      <fieldset>
        <label>From:</label>
        <div id="ridefrom">
          <%= f.select :from_location_id, Location.all.collect { |p| [p.name, p.id] }, {}, :class => 'chzn-select', :style => 'width:250px;' %>
        </div>

      </fieldset>

      <a class="LocationSwitch">Switch</a>

      <fieldset>
        <label>To:</label>
        <div id="rideto">
          <%= f.select :to_location_id, Location.all.collect { |p| [p.name, p.id] }, {}, :style => "width:250px", :class=>'chzn-select' %>
        </div>
      </fieldset>


      <span class="break"></span>
      <div class="what_take">

        <fieldset class="radio_btn for_cab">

          <label style="opacity: 1;" class="selectride" id="taxi-box" onclick="$('#taxi-box').css('opacity','1');$('#black-car-box').css('opacity','0.4');">
            <%= f.radio_button :ride_type, 'taxi',:class=>'radio-selectride',:checked=>"checked" %>
            <span class="ride_cab"></span>
            <span class="radio_text">I'm taking a cab</span>
          </label>
        </fieldset>

        <fieldset class="radio_btn for_car">
          <label class="selectride" id="black-car-box" onclick="$('#black-car-box').css('opacity','1');$('#taxi-box').css('opacity','0.4');" >
            <%= f.radio_button :ride_type, 'blackcar', :class=> 'radio-selectride' %>
            <span class="ride_car"></span>
            <span class="radio_text">I'm taking a black<br>   town car</span>
          </label>
        </fieldset>


        <span class="break"></span>
      </div>
    </div>

    <div class="bank"></div>
    <fieldset class="full">
      <a href="#" onclick="goto_what_time();" class="submit">Next Step</a>
    </fieldset>

  </div>











  <div class="post_ride_popup_container" id="what-time" style="display: none;">
    <div class="timing">

      <div class="Container_position">
        <fieldset class="mediam">
          <label>Departing</label>
          <%= f.text_field :departure_date, :value => (f.object.departure_date || SpClock.date),:class=>'date' %>
          <span class="calander"></span>
        </fieldset>

        <fieldset class="mediam">
          <label>
            Time</label>
          <%= f.select :new_departure_time, NEW_DEPARTURE_TIME, {}, {:class=>"chzn-select",:style=>"width:75px;"} %>
          <%= f.select :ampm_time, AM_PM_TIME, {}, {:class=>"chzn-select",:style=>"width:59px;"} %>
        </fieldset>

        <fieldset class="small">
          <label>
            Flexibility</label>
          <%= f.select :flexibility_in_minutes, ((5..30).step(5).collect{|t| ["±#{t} mins", t]}), {}, {:style => "width:90px",:class=>"chzn-select"} %>

        </fieldset>
        <fieldset class="small duration">
          <label>Duration</label>
          <%= f.select :duration_minutes, (5..90).step(5).collect{|t| [to_minutes(t), t]}, {}, {:class => "chzn-select", :style => "width:72px"} %>
          <%#*<p id="arrival_time">(~2:30 pm arrival)</p>%>
        </fieldset>

        <fieldset class="mediam" style="margin-top:10px">
          <label style="margin-top: -10px;" id="onewaytrip-label">
            <input type="checkbox" class="checkbox" name="checkbox" id="twowaytrip_edit" checked="" onchange="$('#twowaytrip_details').toggleClass('fadeout');$('#twowaytrip_cover').toggleClass('cove_it');">
            <span class="small_text">This is a one-way trip</span></label>
        </fieldset>
        <span class="break"></span><br>


        <div id="twowaytrip_cover" class="cove_it"></div>
        <div id="twowaytrip_details" class="fadeout">

          <fieldset class="mediam">
            <label>Returning</label>
            <%= f.text_field :return_trip_departure_date, :class=>'datepicker_return date' %>
            <span class="calander"></span>
          </fieldset>

          <fieldset class="mediam">
            <label>Time</label>
            <%= f.select :return_new_departure_time, NEW_DEPARTURE_TIME, {}, {:class=>"chzn-select",:style=>"width:75px;"}  %>
            <%= f.select :return_new_ampm_time, AM_PM_TIME, {}, {:class=>"chzn-select",:style=>"width:59px;"}  %>
          </fieldset>

          <fieldset class="small">
            <label>Flexibility</label>
            <%= f.select :return_flexibility_in_minutes, ((5..30).step(5).collect{|t| ["±#{t} mins", t]}), {}, {:style => "width:90px",:class=>"chzn-select"} %>
          </fieldset>

          <fieldset class="small duration">
            <label>Duration</label>
            <%= f.select :retrun_duration_minutes, (5..90).step(5).collect{|t| [to_minutes(t), t]}, {}, {:class => "chzn-select", :style => "width:72px"} %>
            <%#*<p>(~7:30 pm arrival)</p>%>
          </fieldset>
        </div>
        <span class="break"></span>
      </div>                            <fieldset class="big">
        <input type="button" value="Previous Step" name="Previous_Step" class="Previous">
        
        <input type="button" value="Next Step" name="submit" class="submit" onclick="return goto_what_else()" />
      </fieldset>




    </div>
  </div>













  <div class="post_ride_popup_container" id="what-else" style="display:none;">
    <div class="what_leftside">
      <div class="Container_position">
        <div class="left_list">
          <fieldset class="small">
            <label>Total estimated fare?</label>
            <%= f.text_field :total_price, :class => "per_seat" %>
            <span class="small_text">one way</span>
          </fieldset>
          <fieldset class="small"><br>
            <label>
              Number of available seats</label>
            <%  numbers = %w(zero one two three four five six seven eight nine) %>
            <%= f.select :available_seats, (1..2).collect{|t| [numbers[t.to_i], t]}, {}, {:class => "chzn-select", :style => "width:72px"} %>
          </fieldset>
        </div>
        <fieldset class="colom">
          <label>Notes</label>
          <%= f.text_area :notes, :size => "30x4", :class => "textarea", :placeholder => "Any other details?... (example:\nI prefer to meet at Starbuks..." %>
        </fieldset>
      </div>
      <span class="break"></span>
      <fieldset class="big">
        <input type="submit" value="Previous Step" name="Previous_Step" class="Previous" />
        <input type="submit" value="Next Step" name="submit" class="submit" />
      </fieldset>
    </div>
  </div>

<% end %>

<script type="text/javascript">
  $(".chzn-select").chosen();

  $("#ride_departure_date").datepicker({
  dateFormat: "yy-mm-dd",
  minDate: 0, maxDate: "+1Y"
  });

  $("#ride_return_trip_departure_date").datepicker({
  dateFormat: "yy-mm-dd",
  minDate: 0, maxDate: "+1Y"
  });
</script>
