<%= stylesheet_link_tag "search-yui-reset-min", "search-style", "search-master", "search-custom_jqueryui" %>
<%= javascript_include_tag "jquery.ui.map.full.min"%>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&libraries=places"></script>
<script type="text/javascript">
  $(document).ready(function() {
    website_time_hour = <%= SpClock.time.hour %>
    website_time_min = <%= SpClock.time.min %>
    twelve_hour_edt = <%= SpClock.time.hour %> % 12
    $( "#ride_departure_date" ).datepicker({
      dateFormat: "yy-mm-dd",
      minDate: 0, maxDate: "+1Y"
    });

    $( "#ride_return_trip_departure_date" ).datepicker({
      dateFormat: "yy-mm-dd",
      minDate: 0, maxDate: "+1Y"
    });

    $("#new_ride").submit(function(){
      if($('#ride_departure_date').val()==""){
        $(".date-check-step2").show()
        return false;
      }
      else if ($('#ride_duration_minutes').val()==0 && $('#ride_duration_hours').val()==0){
        $(".check-duration").show();
        return false;
      }
      else if ($('#ride_flexibility_in_minutes').val()==""){
        $(".check-flexibility").show();
        return false;
      }
      else if(($("input#ride_departure_date").val() == "<%=  SpClock.time.strftime("%Y-%m-%d") %>" && <%=  SpClock.time.hour %> == 0  && $("#ride_ampm_time").val() == "AM") && (<%=SpClock.time.hour %> == (parseFloat($("#ride_new_departure_time").val().split(":")[0])-12) && parseFloat($("#ride_new_departure_time").val().split(":")[1]) == <%=  SpClock.time.min %>)){
         $(".before-1hr-booking").show();
         return false;
        }
        else if(($("input#ride_departure_date").val() == "<%=  SpClock.time.strftime("%Y-%m-%d") %>" && <%=  SpClock.time.hour %> == 0  && $("#ride_ampm_time").val() == "AM") && (<%=  SpClock.time.hour %> == (parseFloat($("#ride_new_departure_time").val().split(":")[0])-12) && (parseFloat($("#ride_new_departure_time").val().split(":")[1]) < <%=SpClock.time.min%>))){
         $(".before-1hr-booking").show();
         return false;
        }
        else if(($("input#ride_departure_date").val() == "<%=  SpClock.time.strftime("%Y-%m-%d") %>" && <%=  SpClock.time.hour %> == 0  && $("#ride_ampm_time").val() == "AM") && (<%=  SpClock.time.hour %> == (parseFloat($("#ride_new_departure_time").val().split(":")[0])-12) && (parseFloat($("#ride_new_departure_time").val().split(":")[1]) <= 59 ))){
         $(".after-1hr-booking").show();
         return false;
        }
        else if(($("input#ride_departure_date").val() == "<%=  SpClock.time.strftime("%Y-%m-%d") %>" && <%=  SpClock.time.hour %> == 0  && $("#ride_ampm_time").val() == "AM") && (<%=  SpClock.time.hour %> > (parseFloat($("#ride_new_departure_time").val().split(":")[0])-12))){
         $(".before-1hr-booking").show();
         return false;
        }
        else if( ($("input#ride_departure_date").val() == "<%=  SpClock.time.strftime("%Y-%m-%d") %>" && <%=  SpClock.time.hour %> == 0  && $("#ride_ampm_time").val() == "AM") && ((<%=  SpClock.time.hour %> + 1) == (parseFloat($("#ride_new_departure_time").val().split(":")[0])-12) && (parseFloat($("#ride_new_departure_time").val().split(":")[1]) < <%=  SpClock.time.min %> ))){
         $(".after-1hr-booking").show();
         return false;
        }
       else if(($("input#ride_departure_date").val() == "<%=  SpClock.time.strftime("%Y-%m-%d") %>" && <%=  SpClock.time.hour %> < 12  && $("#ride_ampm_time").val() == "AM") && (<%=SpClock.time.hour %> == parseFloat($("#ride_new_departure_time").val().split(":")[0]) && parseFloat($("#ride_new_departure_time").val().split(":")[1]) == <%=  SpClock.time.min %>)){
         $(".before-1hr-booking").show();
         return false;
        }
        else if(($("input#ride_departure_date").val() == "<%=  SpClock.time.strftime("%Y-%m-%d") %>" && <%=  SpClock.time.hour %> < 12  && $("#ride_ampm_time").val() == "AM") && (<%=  SpClock.time.hour %> == parseFloat($("#ride_new_departure_time").val().split(":")[0]) && (parseFloat($("#ride_new_departure_time").val().split(":")[1]) < <%=SpClock.time.min%>))){
         $(".before-1hr-booking").show();
         return false;
        }
        else if(($("input#ride_departure_date").val() == "<%=  SpClock.time.strftime("%Y-%m-%d") %>" && <%=  SpClock.time.hour %> < 12  && $("#ride_ampm_time").val() == "AM") && (<%=  SpClock.time.hour %> == parseFloat($("#ride_new_departure_time").val().split(":")[0]) && (parseFloat($("#ride_new_departure_time").val().split(":")[1]) <= 59 ))){
         $(".after-1hr-booking").show();
         return false;
        }
        else if(($("input#ride_departure_date").val() == "<%=  SpClock.time.strftime("%Y-%m-%d") %>" && <%=  SpClock.time.hour %> < 12  && $("#ride_ampm_time").val() == "AM") && (<%=  SpClock.time.hour %> > parseFloat($("#ride_new_departure_time").val().split(":")[0]))){
         $(".before-1hr-booking").show();
         return false;
        }
        else if( ($("input#ride_departure_date").val() == "<%=  SpClock.time.strftime("%Y-%m-%d") %>" && <%=  SpClock.time.hour %> < 12  && $("#ride_ampm_time").val() == "AM") && ((<%=  SpClock.time.hour %> + 1) == parseFloat($("#ride_new_departure_time").val().split(":")[0]) && (parseFloat($("#ride_new_departure_time").val().split(":")[1]) < <%=  SpClock.time.min %> ))){
         $(".after-1hr-booking").show();
         return false;
        }
        else if( ($("input#ride_departure_date").val() == "<%=  SpClock.time.strftime("%Y-%m-%d") %>" && <%=  SpClock.time.hour %> == 12 && $("#ride_ampm_time").val() == "PM") && (<%=  SpClock.time.hour %> == parseFloat($("#ride_new_departure_time").val().split(":")[0]) && parseFloat($("#ride_new_departure_time").val().split(":")[1]) == <%=  SpClock.time.min %>)){
          $(".before-1hr-booking").show();
          return false;
          }
        else if(($("input#ride_departure_date").val() == "<%=  SpClock.time.strftime("%Y-%m-%d") %>" && <%=  SpClock.time.hour %> == 12 && $("#ride_ampm_time").val() == "PM") && (<%=  SpClock.time.hour %> == parseFloat($("#ride_new_departure_time").val().split(":")[0]) && (parseFloat($("#ride_new_departure_time").val().split(":")[1]) < <%=SpClock.time.min%>))){
           $(".before-1hr-booking").show();
           return false;
          }
        else if(($("input#ride_departure_date").val() == "<%=  SpClock.time.strftime("%Y-%m-%d") %>" && <%=  SpClock.time.hour %> == 12 && $("#ride_ampm_time").val() == "PM") && (<%=  SpClock.time.hour %> == parseFloat($("#ride_new_departure_time").val().split(":")[0]) && (parseFloat($("#ride_new_departure_time").val().split(":")[1]) <= 59 ))){
           $(".after-1hr-booking").show();
           return false;
          }
        else if(($("input#ride_departure_date").val() == "<%=  SpClock.time.strftime("%Y-%m-%d") %>" && <%=  SpClock.time.hour %> == 12 && $("#ride_ampm_time").val() == "PM") && (<%=  SpClock.time.hour %> > parseFloat($("#ride_new_departure_time").val().split(":")[0]))){
           $(".before-1hr-booking").show();
           return false;
          }
        else if(($("input#ride_departure_date").val() == "<%=  SpClock.time.strftime("%Y-%m-%d") %>" && <%=  SpClock.time.hour %> == 12 && $("#ride_ampm_time").val() == "PM") && ((<%=  SpClock.time.hour %> + 1) == parseFloat($("#ride_new_departure_time").val().split(":")[0]) && (parseFloat($("#ride_new_departure_time").val().split(":")[1]) < <%=  SpClock.time.min %> )) ){
           $(".after-1hr-booking").show();
           return false;
          }
        else if(($("input#ride_departure_date").val() == "<%=  SpClock.time.strftime("%Y-%m-%d") %>" && <%=  SpClock.time.hour %> > 12 && $("#ride_ampm_time").val() == "PM") && (twelve_hour_edt == parseFloat($("#ride_new_departure_time").val().split(":")[0]) && parseFloat($("#ride_new_departure_time").val().split(":")[1]) == <%=  SpClock.time.min %>)){
          $(".before-1hr-booking").show();
          return false;
          }
        else if(($("input#ride_departure_date").val() == "<%=  SpClock.time.strftime("%Y-%m-%d") %>" && <%=  SpClock.time.hour %> > 12 && $("#ride_ampm_time").val() == "PM") && (twelve_hour_edt == parseFloat($("#ride_new_departure_time").val().split(":")[0]) && (parseFloat($("#ride_new_departure_time").val().split(":")[1]) < <%=SpClock.time.min%>))){
           $(".before-1hr-booking").show();
           return false;
          }
        else if(($("input#ride_departure_date").val() == "<%=  SpClock.time.strftime("%Y-%m-%d") %>" && <%=  SpClock.time.hour %> > 12 && $("#ride_ampm_time").val() == "PM") && (twelve_hour_edt == parseFloat($("#ride_new_departure_time").val().split(":")[0]) && (parseFloat($("#ride_new_departure_time").val().split(":")[1]) <= 59 )) ){
           $(".after-1hr-booking").show();
           return false;
          }
        else if(($("input#ride_departure_date").val() == "<%=  SpClock.time.strftime("%Y-%m-%d") %>" && <%=  SpClock.time.hour %> > 12 && $("#ride_ampm_time").val() == "PM") && (twelve_hour_edt > parseFloat($("#ride_new_departure_time").val().split(":")[0]))){
           $(".before-1hr-booking").show();
           return false;
          }
        else if(($("input#ride_departure_date").val() == "<%=  SpClock.time.strftime("%Y-%m-%d") %>" && <%=  SpClock.time.hour %> > 12 && $("#ride_ampm_time").val() == "PM") && ((twelve_hour_edt + 1) == parseFloat($("#ride_new_departure_time").val().split(":")[0]) && (parseFloat($("#ride_new_departure_time").val().split(":")[1]) < <%=  SpClock.time.min %> )) ){
           $(".after-1hr-booking").show();
           return false;
          }
      else if( $("#ride_return_trip_checkbox").is(':checked')) {
       if ($("#ride_return_trip_departure_date").val() == ""){
         $(".arrival-date-check").show();
         return false;
       }
      else if(($("#ride_departure_date").val()) > ($("#ride_return_trip_departure_date").val())){
        $(".departure-greater-arrival").show();
        return false;
      }
      else if((($("#ride_departure_date").val() == $("#ride_return_trip_departure_date").val()) && (($("#ride_new_departure_time").val() == $("#ride_return_new_departure_time").val()) && ($("#ride_ampm_time").val() == $("#ride_return_new_ampm_time").val()) ))){
        $(".departure-dt-same-arrival").show();
        return false;
      }
      else if(($("#ride_departure_date").val() == $("#ride_return_trip_departure_date").val()) && ($("#ride_new_departure_time").val() > $("#ride_return_new_departure_time").val()) && ($("#ride_ampm_time").val() == $("#ride_return_new_ampm_time").val()) ){
        $(".departure-hr-greater-arrival").show();
        return false;
      }
      else if((($("#ride_departure_date").val() == $("#ride_return_trip_departure_date").val()) && ((parseFloat($("#ride_return_new_departure_time").val().split(":")[0]) == (parseFloat($("#ride_new_departure_time").val().split(":")[0])+1)) && (parseFloat($("#ride_new_departure_time").val().split(":")[1]) > parseFloat($("#ride_return_new_departure_time").val().split(":")[1])) ) && ($("#ride_ampm_time").val() == $("#ride_return_new_ampm_time").val()))){
        $(".departure-1hr-arrival").show();
        return false;
      }
      else if(($("#ride_departure_date").val() == $("#ride_return_trip_departure_date").val()) && (parseFloat($("#ride_new_departure_time").val().split(":")[0]) == parseFloat($("#ride_return_new_departure_time").val().split(":")[0])) && ($("#ride_ampm_time").val() == $("#ride_return_new_ampm_time").val())){
        $(".departure-dt-same-arrival").show();
        return false;
      }
      else if(($("#ride_departure_date").val() == $("#ride_return_trip_departure_date").val()) && (($("#ride_ampm_time").val() == "PM") && ($("#ride_return_new_ampm_time").val() == "AM"))){
      $(".pm-to-am-check").show();
      return false;
    }
      }
      else{
        return true;
      }
    });

    $('#ride_duration_minutes').change(function() {
      if($(this).val() != 0)
        $(".check-duration").hide();
    });

    $('#ride_duration_hours').change(function() {
      if($(this).val() != 0)
        $(".check-duration").hide();
    });

    $('#ride_flexibility_in_minutes').change(function() {
      if($(this).val() != "")
        $(".check-flexibility").hide();
    });

    $("input#ride_departure_date").change(function(){
       departure_date = $(this).datepicker('getDate');
       departure_date_day = departure_date.getDate();
       departure_date_month = departure_date.getMonth();
       departure_date_year = departure_date.getFullYear();
       $("#ride_departuredatetime_1i").val(departure_date_year);
       $("#ride_departuredatetime_2i").val(departure_date_month+1);
       $("#ride_departuredatetime_3i").val(departure_date_day);
       

      if($(this).val() != "")
        $(".date-check-step2").hide();
    });
<% if @ride.to_location.present? && @ride.from_location.present? %>             // google map fucntion
    $('#map_canvas').gmap('displayDirections', { 'origin': '<%= "#{@ride.from_location.name} #{@ride.from_location.google_helper}".strip %>', 'destination': '<%= "#{@ride.to_location.name} #{@ride.to_location.google_helper}".strip %>', 'travelMode': google.maps.DirectionsTravelMode.DRIVING }, { 'panel': document.getElementById('results') }, function(result, status) {
          if ( status === 'OK' ){
            var METERS_TO_MILES = 0.000621371192;
            totalDistance = result.routes[0].legs[0].distance.value;
            totalDistance = (Math.round( totalDistance * METERS_TO_MILES * 10 ) / 10)
            var fare = 3.0;
            var fare2 = 0;
            var fare3 = 0;
            var dayOfWeek;
            var date = $("#ride_departure_date").datepicker('getDate');
            dayOfWeek = date.getUTCDay();
            fare = (totalDistance * (0.4/0.2))+fare;
            fare2 = fare + 0.50;
            fare3 = fare + 1;
            $("#distance").text("distance: "+totalDistance+' miles');
            $("#duration").text("duration: "+result.routes[0].legs[0].duration.text);
            var aa = parseInt(result.routes[0].legs[0].duration.value / 60);
            var aa1 = aa%5;
            var duration_final = aa + (5 -aa1);
            if("<%= @ride.to_location.name %>" == "(JFK) John F. Kennedy"){
              $('#fare').text("Estimated Taxi Fare: $45");
            }
            else if("<%=  @ride.to_location.name %>" == "(JFK) John F. Kennedy"){
              $('#fare').text("Estimated Taxi Fare: $45");
            }
            else if((0 <= dayOfWeek && dayOfWeek < 5) && ($("#ride_departure_time_4i").val() >= 16 && $("#ride_departure_time_4i").val() < 20 && $("#ride_departure_time_5i").val() > 0 && $("#ride_departure_time_5i").val() <= 59 )){
             $('#fare').text("Estimated Taxi Fare: $"+fare3);
            }
            else{
              var fare = 3.0;
              fare = (totalDistance * (0.4/0.2))+fare;
              $('#fare').text("Estimated Taxi Fare: $"+fare);
            }
            $("#ride_departure_time_4i").change(function(){
            if($(this).find("option:selected").text() == "01 AM" || $(this).find("option:selected").text() == "02 AM" || $(this).find("option:selected").text() == "03 AM" || $(this).find("option:selected").text() == "04 AM" || $(this).find("option:selected").text() == "05 AM" || $(this).find("option:selected").text() == "09 PM" || $(this).find("option:selected").text() == "10 PM" || $(this).find("option:selected").text() == "11 PM")
             $('#fare').text("Estimated Taxi Fare: $"+fare2);
            else if((0 <= dayOfWeek && dayOfWeek < 5) && ($("#ride_departure_time_4i").val() >= 16 && $("#ride_departure_time_4i").val() <= 19 && $("#ride_departure_time_5i").val() >= 0 && $("#ride_departure_time_5i").val() <= 59 )){
             $('#fare').text("Estimated Taxi Fare: $"+fare3);
            }
            else{
              var fare = 3.0;
              fare = (totalDistance * (0.4/0.2))+fare;
              $('#fare').text("Estimated Taxi Fare: $"+fare);
            }
          });

           $("#ride_departure_date").change(function(){
            var date = $(this).datepicker('getDate');
            dayOfWeek = date.getUTCDay();
            if((0 <= dayOfWeek && dayOfWeek < 5) && ($("#ride_departure_time_4i").val() >= 16 && $("#ride_departure_time_4i").val() <= 19 && $("#ride_departure_time_5i").val() >= 0 && $("#ride_departure_time_5i").val() <= 59 )){
             $('#fare').text("Estimated Taxi Fare: $"+fare3);
            }
            else{
            var fare = 3.0;
            fare = (totalDistance * (0.4/0.2))+fare;
            $('#fare').text("Estimated Taxi Fare: $"+fare);
            }
          });
          if(aa%5 == 0)
            $("#ride_duration_minutes").val(aa);
          else
            $("#ride_duration_minutes").val(duration_final);
          }
        });
<% end %>

    $('#ride_new_departure_time').change(function() {
      departure_time_hour = $(this).val();
      $("#ride_departuredatetime_4i").val(departure_time_hour);
      $(".before-1hr-booking").hide();
      $(".after-1hr-booking").hide();
    });

    $("#ride_return_trip_checkbox").click(function () {
     if( $(this).is(':checked')) {
        $(".return_box").show();
    } else {
        $(".return_box").hide();
    }

     });

     if( $("#ride_return_trip_checkbox").is(':checked')) {
       $(".return_box").show();
     }
    $("input#ride_return_trip_departure_date").change(function(){
      $(".arrival-date-check").hide();
      $(".departure-greater-arrival").hide();
      $(".departure-dt-same-arrival").hide();
      $(".departure-hr-greater-arrival").hide();
      $(".departure-min-greater-arrival").hide();
      $(".departure-1hr-arrival").hide();
    });

    $("#ride_new_departure_time").change(function(){
      new_time = $(this).val();
      new_time_split = new_time.split(":");
      new_time_hour = parseFloat(new_time_split[0]);
      new_time_min = parseFloat(new_time_split[1]);
      if(new_time_hour == 12 && $("#ride_ampm_time").val() == "AM"){
        $("select#ride_departuredatetime_4i").val('00');
        $("select#ride_departuredatetime_5i").val(new_time_min);
      }
      else if(new_time_hour < 12 && $("#ride_ampm_time").val() == "AM"){
        $("select#ride_departuredatetime_4i").val(new_time_split[0]);
        $("select#ride_departuredatetime_5i").val(new_time_min);
      }
      else if (new_time_hour < 12 && $("#ride_ampm_time").val() == "PM"){
        $("select#ride_departuredatetime_4i").val(new_time_hour + 12);
        $("select#ride_departuredatetime_5i").val(new_time_min);
      }
      else if (new_time_hour == 12 && $("#ride_ampm_time").val() == "PM"){
       $("select#ride_departuredatetime_4i").val(12);
       $("select#ride_departuredatetime_5i").val(new_time_min);
      }
    });

  $("#ride_ampm_time").change(function(){
    new_time = $("#ride_new_departure_time").val();
    new_time_split = new_time.split(":");
    new_time_hour = parseFloat(new_time_split[0]);
    new_time_min = parseFloat(new_time_split[1]);
    if(new_time_hour == 12 && $(this).val() == "AM"){
      $("select#ride_departuredatetime_4i").val('00');
      $("select#ride_departuredatetime_5i").val(new_time_min);
    }
    else if(new_time_hour < 12 && $(this).val() == "AM"){
      $("select#ride_departuredatetime_4i").val(new_time_split[0]);
      $("select#ride_departuredatetime_5i").val(new_time_min);
    }
    else if (new_time_hour < 12 && $(this).val() == "PM"){
      $("select#ride_departuredatetime_4i").val(new_time_hour + 12);
      $("select#ride_departuredatetime_5i").val(new_time_min);
    }
    else if (new_time_hour == 12 && $(this).val() == "PM"){
      $("select#ride_departuredatetime_4i").val(12);
      $("select#ride_departuredatetime_5i").val(new_time_min);
    }
  });

    $("input#ride_return_trip_departure_date").change(function(){
       departure_date = $(this).datepicker('getDate');
       departure_date_day = departure_date.getDate();
       departure_date_month = departure_date.getMonth();
       departure_date_year = departure_date.getFullYear();
       $("#ride_return_departuredatetime_1i").val(departure_date_year);
       $("#ride_return_departuredatetime_2i").val(departure_date_month+1);
       $("#ride_return_departuredatetime_3i").val(departure_date_day);


      if($(this).val() != "")
        $(".date-check-step2").hide();
    });


   $("#ride_return_new_departure_time").change(function(){
      new_time = $(this).val();
      new_time_split = new_time.split(":");
      new_time_hour = parseFloat(new_time_split[0]);
      new_time_min = parseFloat(new_time_split[1]);
      if(new_time_hour == 12 && $("#ride_return_new_ampm_time").val() == "AM"){
        $("select#ride_return_departuredatetime_4i").val('00');
        $("select#ride_return_departuredatetime_5i").val(new_time_min);
      }
      else if(new_time_hour < 12 && $("#ride_return_new_ampm_time").val() == "AM"){
        $("select#ride_return_departuredatetime_4i").val(new_time_split[0]);
        $("select#ride_return_departuredatetime_5i").val(new_time_min);
      }
      else if (new_time_hour < 12 && $("#ride_return_new_ampm_time").val() == "PM"){
        $("select#ride_return_departuredatetime_4i").val(new_time_hour + 12);
        $("select#ride_return_departuredatetime_5i").val(new_time_min);
      }
      else if (new_time_hour == 12 && $("#ride_return_new_ampm_time").val() == "PM"){
       $("select#ride_return_departuredatetime_4i").val(12);
       $("select#ride_return_departuredatetime_5i").val(new_time_min);
      }
    });

  $("#ride_return_new_ampm_time").change(function(){
    new_time = $("#ride_return_new_departure_time").val();
    new_time_split = new_time.split(":");
    new_time_hour = parseFloat(new_time_split[0]);
    new_time_min = parseFloat(new_time_split[1]);
    if(new_time_hour == 12 && $(this).val() == "AM"){
      $("select#ride_return_departuredatetime_4i").val('00');
      $("select#ride_return_departuredatetime_5i").val(new_time_min);
    }
    else if(new_time_hour < 12 && $(this).val() == "AM"){
      $("select#ride_return_departuredatetime_4i").val(new_time_split[0]);
      $("select#ride_return_departuredatetime_5i").val(new_time_min);
    }
    else if (new_time_hour < 12 && $(this).val() == "PM"){
      $("select#ride_return_departuredatetime_4i").val(new_time_hour + 12);
      $("select#ride_return_departuredatetime_5i").val(new_time_min);
    }
    else if (new_time_hour == 12 && $(this).val() == "PM"){
      $("select#ride_return_departuredatetime_4i").val(12);
      $("select#ride_return_departuredatetime_5i").val(new_time_min);
    }
  });




      $("#ride_return_new_departure_time").change(function(){
      $(".arrival-date-check").hide();
      $(".departure-greater-arrival").hide();
      $(".departure-dt-same-arrival").hide();
      $(".departure-hr-greater-arrival").hide();
      $(".departure-min-greater-arrival").hide();
      $(".departure-1hr-arrival").hide();
    });

  });
</script>

<div id="container">
  <div id="header_wrap" style="margin-top: 22px;">
    <div id="header">
      <%= link_to image_tag("shareshuttle_logo_sm.png", :class=>"left"), root_path %>
      <div style="clear:both"></div>
    </div>
  </div>

  <ul id="scale">
    <li>1. Where To?</li>
    <li class="active">2. What Time?</li>
    <li class="last">3. What Else?</li>
  </ul>
  <div style="clear:both"></div>
  <%= form_for @ride, :url => posted_rides_path(:step => "2") do |f| %>         <!--form for post ride step 2 -->
    <% if @ride.errors.any? %>
      <div class="error_messages">
        <h2>Form is invalid</h2>
        <ul>
          <% for message in @ride.errors.full_messages %>
            <li><%= message%></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= hidden_field_tag :next_step, "post_three" %>

    <div id="leftContainer" style="width:600px; float:left; margin-top:50px;">

      <div class="left" style="margin-right:20px;">
        <p><b>Depart</b></p>
        <%= f.text_field :departure_date, :value => (f.object.departure_date || SpClock.date) %>
        <div class="date-check-step2" style="display:none; color: red; margin-bottom: -6px">Departure Date can't be blank</div>
      </div>

     <div class="left" style="margin-right:20px;">
        <p><b>New Time</b></p>
        <%= f.select :new_departure_time, NEW_DEPARTURE_TIME %>
        <%= f.select :ampm_time, AM_PM_TIME %>
        <div class="before-1hr-booking" style="display: none; color: red;">Booking from current time</div>
        <div class="after-1hr-booking" style="display: none; color: red;">After 1 hour Booking allowed</div>
        <div class="passed-booking" style="display: none; color: red;">booking time has been passed select another</div>
      </div>

      <div class="left" style="margin-right:20px;">
        <p><b>Departure Datetime</b></p>
        <%= f.datetime_select :departuredatetime %>
      </div>

      <div class="left" style="margin-right:20px;">
        <p><b>Departure flexibility</b></p>
        <%= f.select :flexibility_in_minutes, ((5..30).step(5).collect{|t| ["#{t} mins", t]}), {:include_blank => "± minutes"}, {:style => "width:110px"} %>
        <div class="check-flexibility" style="display: none; color: red;">Select Some Flexibility</div>
      </div>

      <div class="left" style="margin-right:20px;">
        <p><b>Trip Duration</b></p>
        <%= f.select :duration_hours, (0..3).collect{|t| ["0#{t}", t]}, {}, {:class => "duration-change", :style => "display:none", :selected => "0"} %>
        <%= f.select :duration_minutes, (5..90).step(5).collect{|t| [to_minutes(t), t]}, {}, {:class => "duration-change", :style => "width:110px"} %>mins
        <div class="check-duration" style="display: none; color: red;">Select Some duration</div>
      </div><div style="clear:both"></div>
      <div class="left" style="margin-right:20px;">
        <%= f.label :return_trip_checkbox, "Want Return Trip ?? " %>
        <%= f.check_box :return_trip_checkbox%>
        </div><div style="clear:both"></div>

      <div class="return_box" style="display: none;">
        <div id="leftContainer" style="width:600px; float:left; margin-top:10px;">
         <div class="left" style="margin-right:20px;">
          <p><b>Arrival</b></p>
           <%= f.text_field :return_trip_departure_date %>
            <div class="departure-greater-arrival" style="display:none; color: red; margin-bottom: -6px">Departure Date later than Arrival</div>
            <div class="departure-dt-same-arrival" style="display:none; color: red; margin-bottom: -6px">Departure Date_Time Same with Arrival Date_Time</div>
            <div class="departure-hr-greater-arrival" style="display:none; color: red; margin-bottom: -6px">Departure Hours later than Arrival</div>
            <div class="departure-min-greater-arrival" style="display:none; color: red; margin-bottom: -6px">Departure Min later than Arrival</div>
            <div class="departure-1hr-arrival" style="display:none; color: red; margin-bottom: -6px">Arrival should be after an hour </div>
            <div class="arrival-date-check" style="display:none; color: red; margin-bottom: -6px">Arrival date can't be empty </div>
            <div class="pm-to-am-check" style="display:none; color: red; margin-bottom: -6px">Not Travel from PM to AM </div>
          </div>

          <div class="left" style="margin-right:20px;">
           <p><b>New Time</b></p>
           <%= f.select :return_new_departure_time, NEW_DEPARTURE_TIME %>
           <%= f.select :return_new_ampm_time, AM_PM_TIME %>
          </div>
          
          <div class="left" style="margin-right:20px;">
           <p><b>Departure Datetime</b></p>
           <%= f.datetime_select :return_departuredatetime %>
          </div>

         </div>
      </div>
      <div style="clear:both">
        <a href="<%=new_ride_path%>" style="float:left; margin-right: 10px;margin-top:40px;border-color: white; border-style: solid; border-width: 1px; color: black; background: none repeat scroll 0% 0% transparent; width: 87px; font-size: 13px; height: 26px; height: 26px;text-align: center; line-height: 25px; ">Back</a>
        <input type="submit" value="Next Step" style="margin-top:40px;border-color: rgb(47, 87, 28) rgb(47, 87, 28) rgb(40, 77, 23); border-style: solid; border-width: 1px; color: rgb(255, 255, 255); padding: 3px 12px; background: none repeat scroll 0% 0% rgb(110, 169, 83); width: 103px; font-size: 13px; height: 29px; " name="commit" class="ride-check-btn"/>
      </div>

    </div>
  <% end %>
</div>
<div id="map_canvas" style="height:350px; width: 500px;"></div><br/>            <!--google map show here -->
<div id="results" style="display:none;">                                        <!--direction, duration and fare show here -->
  <div id="directions"></div>
 
</div>

 <div id="distance">
  </div>
  <div id="duration">
  </div>
  <div id="fare">
  </div>