<%= stylesheet_link_tag "search-yui-reset-min", "search-style", "search-master", "search-custom_jqueryui" %>
<%= javascript_include_tag "jquery.ui.map.full.min"%>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&libraries=places"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $("#new_ride").submit(function() {
      if($('input#ride_total_price').val() > 200){
        $(".total-price-check").show();
        return false;
      }
      else if($('input#ride_total_price').val() < 1){
        $(".total-price-check1").show();
        return false;
      }
      else if($('input#ride_total_price').val()==""){
        $(".total-price-check2").show();
        return false;
      }
      else{
        return true;
      }
    });
    $("input#ride_total_price").change(function(){
      if($(this).val() < 200)
        $(".total-price-check").hide();
      if($(this).val() > 0)
        $(".total-price-check1").hide();
  
    });
<% if @ride.to_location.present? && @ride.from_location.present? %>
        $('#map_canvas').gmap('displayDirections', { 'origin': '<%= @ride.to_location.name %>', 'destination': '<%= @ride.from_location.name %>', 'travelMode': google.maps.DirectionsTravelMode.DRIVING }, { 'panel': document.getElementById('results') }, function(result, status) {
          if ( status === 'OK' ){
            var METERS_TO_MILES = 0.000621371192;
            totalDistance = result.routes[0].legs[0].distance.value;
            totalDistance = (Math.round( totalDistance * METERS_TO_MILES * 10 ) / 10)
            var fare2 = 0;
            var fare3 = 0;
            var dayOfWeek;
            fare = (totalDistance * (0.4/0.2))+fare;
            fare2 = fare + 0.50;
            fare3 = fare + 1;

            $("#distance").text("distance: "+totalDistance+' miles');
            $("#duration").text("duration: "+result.routes[0].legs[0].duration.text);
            if("<%= @ride.to_location.name %>" == "(JFK) John F. Kennedy"){
              $('#fare').text("Estimated Taxi Fare: $45");
            }
            else if("<%=  @ride.to_location.name %>" == "(JFK) John F. Kennedy"){
              $('#fare').text("Estimated Taxi Fare: $45");
            }
            else if("<%=  @ride.departure_time.hour %>" == "(JFK) John F. Kennedy"){
              $('#fare').text("Estimated Taxi Fare: $45");
            }
            else{
              var fare = 3.0;
              fare = (totalDistance * (0.4/0.2))+fare;
              $('#fare').text("Estimated Taxi Fare: $"+fare);
            }
          }
        });
<% end %>
  });

</script>
<div id="container">
  <div id="header_wrap" style="margin-top: 22px;">
    <div id="header">
      <%= link_to image_tag("shareshuttle_logo_sm.png", :class=>"left"), root_path %>
      <div style="clear:both"></div>
    </div>
  </div>

  <ul id="scale">
    <li>1. Where To?</li>
    <li>2. What Time?</li>
    <li class="last active">3. What Else?</li>
  </ul>
  <div style="clear:both"></div>
  <%= form_for @ride, :url => posted_rides_path(:step => "3") do |f| %>
    <% if @ride.errors.any? %>
      <div class="error_messages">
        <h2>Form is invalid</h2>
        <ul>
          <% for message in @ride.errors.full_messages %>
            <li><%= message%></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= hidden_field_tag :next_step, "create_ride" %>

    <div id="leftContainer" style="width:600px; float:left; margin-top:50px;">

      <div class="left" style="margin-right:40px;">
        <p><b>Total Ride Price One Way</b></p>
        $<%= f.number_field :total_price, {:style => "height: 26px; width: 110px;"} %>
        <div class="total-price-check" style="display: none; color: red; margin-bottom: -25px; ">Price should not be greater than $200</div>
        <div class="total-price-check1" style="display: none; color: red; margin-bottom: -25px; ">Price should be positive </div>
        <div class="total-price-check2" style="display: none; color: red; margin-bottom: -25px; ">Price field can't be empty </div>
      </div>
      <div class="left" style="margin-right:20px;">
        <p><b>Number of available seats</b></p>
        <%= f.select :available_seats, 1..2, {:style => "width: 110px"} %>
      </div>
      <br/>
      <div class="left" style="margin-right:20px;">
        <br/>
        <p><b>Notes</b></p>
        <%= f.text_area :notes, :size => "30x3" %>
      </div>



      <div style="clear:both">
        <a href="<%=post_one_rides_path%>" style="float:left; margin-right: 10px;margin-top:40px;border-color: white; border-style: solid; border-width: 1px; color: black; background: none repeat scroll 0% 0% transparent; width: 87px; font-size: 13px; height: 26px; height: 26px;text-align: center; line-height: 25px; ">Back</a>
        <input type="submit" value="Post Ride" style="margin-top:40px;border-color: rgb(47, 87, 28) rgb(47, 87, 28) rgb(40, 77, 23); border-style: solid; border-width: 1px; color: rgb(255, 255, 255); padding: 3px 12px; background: none repeat scroll 0% 0% rgb(110, 169, 83); width: 103px; font-size: 13px; height: 29px; " name="commit" class="ride-check-btn"/>
      </div>

    </div>

  <%end%>

</div>
<div id="map_canvas" style="height:350px; width: 500px;"></div><br/>
<div id="results" style="display:none;">
  <div id="directions"></div>

</div>
  <div id="distance">
  </div>
  <div id="duration">
  </div>
  <div id="fare">
  </div>