<%= stylesheet_link_tag "search-yui-reset-min", "search-style", "search-master", "search-custom_jqueryui"%>
<%= javascript_include_tag "jquery.ui.map.full.min"%>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&libraries=places"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $( "#ride_departure_date" ).datepicker({
      dateFormat: "yy-mm-dd",
      minDate: 0, maxDate: "+1Y"
    });

    $("#new_ride").submit(function() {
      if(!($('#ride_ride_type_black_car').is(':checked')||$('#ride_ride_type_taxi').is(':checked'))) {
        $(".ride-type-check").show();
        return false;
      }
      else if(($('#ride_to_location_id').val()=="") || ($('#ride_from_location_id').val()=="")){
        $(".city-check").show();
        return false;
      }
      else{
        return true;
      }
    });
    $("#ride_ride_type_black_car").click(function(){
      $(".ride-type-check").hide();
    });

    $("#ride_ride_type_taxi").click(function(){
      $(".ride-type-check").hide();
    });

    $('#ride_to_location_id').change(function() {
<%#*location.reload();%>
      if($(this).val() != ""){
        if ($(this).val() == $('#ride_from_location_id').val()) {
          $(".city-option-same").show();
          $('#ride_to_location_id').addClass("validation-error");
          $('#ride_from_location_id').addClass("validation-error");
          $("input.ride-check-btn").attr("disabled", "disabled");

        } else {
          $(".city-check").hide();
          $(".city-option-same").hide();
          $('#ride_to_location_id').removeClass("validation-error");
          $('#ride_from_location_id').removeClass("validation-error");
          $("input.ride-check-btn").removeAttr("disabled");
          if($('#ride_from_location_id').val()!=""){
            $('#map_canvas').gmap('displayDirections', { 'origin': $('#ride_from_location_id').find("option:selected").text(), 'destination': $('#ride_to_location_id').find("option:selected").text(), 'travelMode': google.maps.DirectionsTravelMode.DRIVING }, { 'panel': document.getElementById('results') }, function(result, status) {
              if ( status === 'OK' ){
                $('#results').show();
              }
            });
            return false;

          }
        }
      }
    });
    
    $('#ride_from_location_id').change(function() {
<%#*location.reload();%>
      if($(this).val() != ""){
        if ($(this).val() == $('#ride_to_location_id').val()) {
          $(".city-option-same").show();
          $('#ride_to_location_id').addClass("validation-error");
          $('#ride_from_location_id').addClass("validation-error");
          $("input.ride-check-btn").attr("disabled", "disabled");
        } else {
          $(".city-option-same").hide();
          $(".city-check").hide();
          $('#ride_to_location_id').removeClass("validation-error");
          $('#ride_from_location_id').removeClass("validation-error");
          $("input.ride-check-btn").removeAttr("disabled");
          if($('#ride_to_location_id').val()!=""){
            $('#map_canvas').gmap('displayDirections', { 'origin': $('#ride_from_location_id').find("option:selected").text(), 'destination': $('#ride_to_location_id').find("option:selected").text(), 'travelMode': google.maps.DirectionsTravelMode.DRIVING }, { 'panel': document.getElementById('results') }, function(result, status) {
              if ( status === 'OK' ){
                $('#results').show();
              }
            });
            return false;

          }
        }
      }

    });

    $('#map_canvas').gmap().bind('init', function(evt, map) {
     <% if @ride.to_location.present? && @ride.from_location.present? %>
     $('#map_canvas').gmap('displayDirections', { 'origin': <%= @ride.to_location.name %>, 'destination': <%= @ride.from_location.name %>, 'travelMode': google.maps.DirectionsTravelMode.DRIVING }, { 'panel': document.getElementById('results') }, function(result, status) {
        if ( status === 'OK' ){
          $('#results').show();
        }
      });
      <% end %>
    });
    if($('#ride_from_location_id').find("option:selected").text() == "(JFK) John F. Kennedy"){
      $('#JFK-fare').append("Estimated Taxi Fare: $" + "45");
    }
    if($('#ride_to_location_id').find("option:selected").text() == "(JFK) John F. Kennedy"){
      $('#JFK-fare').append("Estimated Taxi Fare: $" + "45");
    }
  });
</script>
<div id="container">
  <div id="header_wrap" style="margin-top: 22px;">
    <div id="header">
      <%= link_to image_tag("shareshuttle_logo_sm.png", :class=>"left"), root_path %>
      <div style="clear:both"></div>
    </div>
  </div>

  <ul id="scale">
    <li class="active">1. Where To?</li>
    <li>2. What Time?</li>
    <li class="last">3. What Else?</li>
  </ul>
  <%= form_for @ride, :url => posted_rides_path do |f| %>
    <% if @ride.errors.any? %>
      <div class="error_messages">
        <h2>Form is invalid</h2>
        <ul>
          <% for message in @ride.errors.full_messages %>
            <li><%= message%></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= hidden_field_tag :next_step, "post_two" %>

    <div style="clear:both"></div>
    <div id="leftContainer" style="width:600px; float:left;">
      <div id="fromCity"  style="text-align:center;" class="left col">
        <span style="float:left;">From:</span><br />
        <%= f.select :from_location_id, Location.all.collect {|p| [ p.name, p.id ] }, {:include_blank => "--- select from ---"}, :style => "width:230px" %><br /><br />
        <img alt="black-car" src="/assets/blackcar.jpg" height="40px" width="140px" /><br />

        <%= f.radio_button :ride_type, 'black car'%><%= f.label :ride_type, 'I am taking a black car', :for => 'ride_ride_type_black_car'%>
      </div>

      <div id="toCity" style="text-align:center;" class="left col">
        <span style="float:left;">To:</span><br />
        <%= f.select :to_location_id, Location.all.collect {|p| [ p.name, p.id ] }, {:include_blank => "--- select to ---"}, :style => "width:230px" %><br /><br />
        <div class="city-option-same" style="display: none"> From and To City can't same </div>
        <div class="city-check" style="display: none; color: red; font-weight: bold;">Select City</div>
        <img alt="Taxi" src="/assets/taxi.jpg" style="height: 63px;" width="140px" /><br />
        <%= f.radio_button :ride_type, 'taxi'  %><%= f.label :ride_type, 'I am taking a taxi', :for => 'ride_ride_type_taxi'%>
        <div class="ride-type-check" style="display: none; color: red; font-weight: bold;">No Ride Type Selected</div>
        <div style="clear:both"></div>
      </div>
      <div style="clear:both"></div>

      <div>
        <input type="submit" value="Next Step" style="margin-top:40px;border-color: rgb(47, 87, 28) rgb(47, 87, 28) rgb(40, 77, 23); border-style: solid; border-width: 1px; color: rgb(255, 255, 255); padding: 3px 12px; background: none repeat scroll 0% 0% rgb(110, 169, 83); width: 103px; font-size: 13px; height: 29px; " name="commit" class="ride-check-btn" />

      </div>

    </div>
  <% end %>
</div>


<div id="map_canvas" style="height:350px; width: 500px;"></div><br/>
<div id="JFK-fare"></div>
<div id="results" style="display:none;">
  <div id="directions"></div>
</div>

