<%= stylesheet_link_tag "search-yui-reset-min", "search-style", "search-master", "search-custom_jqueryui" %>
<script type="text/javascript">
  $(document).ready(function() {
    $( "#ride_departure_date" ).datepicker({
      dateFormat: "yy-mm-dd",
      minDate: 0, maxDate: "+1Y"
    });

    $("#new_ride").submit(function() {
      if(!($('#ride_ride_type_sedon').is(':checked')||$('#ride_ride_type_van').is(':checked'))) {
        $(".ride-type-check").show();
         return false;
      }
      else if(($('#ride_to_location_id').val()=="") || ($('#ride_from_location_id').val()=="")){
        $(".city-check").show();
         return false;
      }
      else{
          return true;
      }
    });
      $("#ride_ride_type_sedon").click(function(){
       $(".ride-type-check").hide();
      });

      $("#ride_ride_type_van").click(function(){
       $(".ride-type-check").hide();
      });

    $('#ride_to_location_id').change(function() {
      if($(this).val() != ""){
        if ($(this).val() == $('#ride_from_location_id').val()) {
          $(".city-option-same").show();
          $('#ride_to_location_id').addClass("validation-error");
          $('#ride_from_location_id').addClass("validation-error");
          $("input.ride-check-btn").attr("disabled", "disabled");
        } else {
          $(".city-check").hide();
          $(".city-option-same").hide();
          $('#ride_to_location_id').removeClass("validation-error");
          $('#ride_from_location_id').removeClass("validation-error");
          $("input.ride-check-btn").removeAttr("disabled");
        }
      }
    });
    
    $('#ride_from_location_id').change(function() {
      if($(this).val() != ""){
        if ($(this).val() == $('#ride_to_location_id').val()) {
          $(".city-option-same").show();
          $('#ride_to_location_id').addClass("validation-error");
          $('#ride_from_location_id').addClass("validation-error");
          $("input.ride-check-btn").attr("disabled", "disabled");
        } else {
          $(".city-option-same").hide();
          $(".city-check").hide();
          $('#ride_to_location_id').removeClass("validation-error");
          $('#ride_from_location_id').removeClass("validation-error");
          $("input.ride-check-btn").removeAttr("disabled");
        }
      }
    });
});
</script>
<div class="search_run">

  <div id="content_wrapper" class="new_style" style="margin-top: 59px;">
    <div id="content_container" class="clearfix">
      <div id="wide_column_left" class="newAddRideStyle">
        <%= form_for @ride, :url => posted_rides_path do |f| %>
          <% if @ride.errors.any? %>
            <div class="error_messages">
              <h2>Form is invalid</h2>
              <ul>
                <% for message in @ride.errors.full_messages %>
                  <li><%= message%></li>
                <% end %>
              </ul>
            </div>
          <% end %>
        <%= hidden_field_tag :next_step, "post_two" %>
           <div class="check-step1" style="display: block">
            <fieldset id="step_1">
              <div class="step_container clearfix">
                <span class="active left"><b>1. Where To?</b></span>
                <span><b>2. What Time?</b></span>
                <span class="right"><b>3. What Else?</b></span>
              </div>
              <dl>
                <dt><label>I Am Taking:</label></dt>
                <dd class="selection" id="who">
                  <div class="bigradio" id="driverselect">
                    <div class="ride-image"><%= image_tag ("sedan.jpg")%></div>
                    <%= f.radio_button :ride_type, 'Sedon', :style=>"width: 13px" %><%= f.label :ride_type, 'A Sedon', :for => 'ride_ride_type_sedon'%>
                  </div>
                  <div class="bigradio" id="passengerselect">
                    <div class="ride-image"><%= image_tag ("van.jpg")%></div>
                    <%= f.radio_button :ride_type, 'Van', :style=>"width: 13px"  %><%= f.label :ride_type, 'A Van', :for => 'ride_ride_type_van'%>
                  </div>
                </dd>
                <dt><div class="ride-type-check" style="display: none; color: red; font-weight: bold;">No Ride Type Selected</div></dt>
                <dt><label for="s">Starting From</label></dt>
                <dd>
                  <%= f.select :from_location_id, Location.all.collect {|p| [ p.name, p.id ] }, :include_blank => "-----select city-----" %>
                </dd>
                <dt><label for="e">Going To</label></dt>
                <dd>
                  <%= f.select :to_location_id, Location.all.collect {|p| [ p.name, p.id ] }, :include_blank => "-----select city-----" %>
                  <div class="city-option-same" style="display: none"> From and To City can't same </div>
                  <div class="city-check" style="display: none; color: red; font-weight: bold;">Select City</div>
                  <p>Only the closest crossstreets are shown in your listing (e.g. 1st &amp; Main)</p>
                </dd>
                <dt>&nbsp;</dt>
                <dd class="changestep"><span class="errormsg"></span><%= f.submit "Next", ({:class=>"ride-check-btn", :style=>"border-color: #2F571C #2F571C #284D17; border-style: solid; border-width: 1px; color: #FFFFFF; padding: 3px 12px; background: #6EA953; width: 103px; font-size: 13px; float: right; height: 29px; margin-right: -121px; margin-top: -30px;"})%></dd>
              </dl>
            </fieldset>
          </div>
        <%end%>

      </div>
    </div>
  </div>
</div>