
<script type="text/javascript">
  $(document).ready(function() {
    $('#ride_to_location_id').change(function() {
      if ($(this).val() == $('#ride_from_location_id').val()) {
        $(".city-option-same").show();
        $('#ride_to_location_id').addClass("validation-error");
        $('#ride_from_location_id').addClass("validation-error");
        $("#btn-search").attr("disabled", "disabled");
      } else {
        $(".city-option-same").hide();
        $('#ride_to_location_id').removeClass("validation-error");
        $('#ride_from_location_id').removeClass("validation-error");
        $("#btn-search").removeAttr("disabled");
      }
    });
  });
</script>
<div class="clear"></div>
<div class="subnav">
  <ul class="nav-pills nav">
    <li>
      <%= link_to "My Ride", rides_path %>
    </li>
    <li class="active">
      <%= link_to "Ride input page", new_ride_path %>
    </li>
    <li>
      <%= link_to "Ride search page", search_rides_path %>
    </li>
    <li>
      <%= link_to "My Dashboard", dashboard_path %>
    </li>
  </ul>
</div>
<div id="static_splash2">
  <div id="header_wrap">
    <div id="header">
      <ul id="top_nav">
        <li>
          <a id="post_ride" class="button post km_click_event_by_text" href="#">Post a ride</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="stagewrap" ></div> 

  <div id="content_wrapper" class="new_style">
    <div id="content_container" class="clearfix">
      <div id="content">
        <div id="routes">
          <%= form_for :ride, :url => search_rides_path, :method => "get" do |f| %>

            <div class="box">
              <div class="text_input"> 
                <label for="search_s" class="pin start"></label>
                <%= f.select :from_location_id, Location.all.collect {|p| [ p.name, p.id ] }, :include_blank => "----Driving From -----"%>
              </div>
              <div class="text_input"> 
                <label for="search_e" class="pin end"></label>
                <%= f.select :to_location_id, Location.all.collect {|p| [ p.name, p.id ] }, :include_blank => "----Driving To -----"%>
              </div>
              <div class="left-with-margin">
                <%= f.radio_button :departure, 'all', :checked =>true, :class => "left-with-margin" %>
                <%= f.label :departure, 'All', :for => 'ride_departure_all', :class => "left-with-margin"%>
                <%= f.radio_button :departure, 'first_option', :class => "left-with-margin" %>
                <%= f.label :departure, "Next #{SEARCH_OPTION_ONE_IN_DAYS} days", :for => "ride_departure_first_option", :class => "left-with-margin"%>
                <%= f.radio_button :departure , 'second_option', :class => "left-with-margin" %>
                <%= f.label :departure, "Next #{SEARCH_OPTION_TWO_IN_DAYS} days", :for => 'ride_departure_second_option', :class => "left-with-margin"%>
              </div>
              <%= f.submit "Search", :class => "button confirm clickaway_confirm", :id => "btn-search"%>
            </div>
            <div class="heading">
              <h1 style="color:white;">Share a Direct Ride<br /></h1>
              <p>
                Find others from your neighborhood <br/>and take a car together.<br />
              </p>
            </div>
          <% end %>
        </div>
        <div class="city-option-same" style="font-weight: bold;color: red; display: none"> From and To City can't same </div>
      </div>
      <div id="content">
        <div id="results" class="subsection">
          <div class="ride_list rides">
            <h3 class="headline first">
              Latest Rides
            </h3>
            <ul><%@rides.each do |ride| %>
                <li style="top: 0px;">
                  <a class="km_click_event_by_href" href="<%= new_ride_ride_participant_path(ride) %>">
                    <div class="price_box"> 
                      <h1><%= number_to_currency(ride.per_price_seat)%></h1>
                      <p>per seat</p>
                    </div>
                    <%= image_tag ride.owner.user_image.url.to_s %>
                    <h1><%= ride.from_location && ride.from_location.name %><span class="trip_type"></span><%= ride.to_location && ride.to_location.name %></h1>
                    <p>
                      <span class="driver"></span>
                      <%= ride.owner.first_name%> / <%= ride.remaining_seats %> seats left
                    </p>
                  </a>
                </li>
              <%end%>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
