<%= stylesheet_link_tag "search-yui-reset-min", "search-style", "search-master", "search-custom_jqueryui" %>
<%= javascript_include_tag 'windows' %>
<script type="text/javascript">
  $(document).ready(function() {
    $('#ride_to_location_id').change(function() {
      if($(this).val() != ""){
        if ($(this).val() == $('#ride_from_location_id').val()) {
          $(".city-option-same").show();
          $('#ride_to_location_id').addClass("validation-error");
          $('#ride_from_location_id').addClass("validation-error");
          $("input#ride_departure_date").attr("disabled", "disabled");
          $("#ride_departure_all").attr("disabled", "disabled");
          $("#ride_departure_first_option").attr("disabled", "disabled");
          $("#ride_departure_second_option").attr("disabled", "disabled");
        } else {
          $(".city-option-same").hide();
          $('#ride_to_location_id').removeClass("validation-error");
          $('#ride_from_location_id').removeClass("validation-error");
          $("input#ride_departure_date").removeAttr("disabled", "disabled");
          $("#ride_departure_all").removeAttr("disabled", "disabled");
          $("#ride_departure_first_option").removeAttr("disabled", "disabled");
          $("#ride_departure_second_option").removeAttr("disabled", "disabled");
          $("#search-form").submit();
        }
      }
    });
    $('#ride_from_location_id').change(function() {
      if($(this).val() != ""){
        if ($(this).val() == $('#ride_to_location_id').val()) {
          $(".city-option-same").show();
          $('#ride_to_location_id').addClass("validation-error");
          $('#ride_from_location_id').addClass("validation-error");
          $("input#ride_departure_date").attr("disabled", "disabled");
          $("#ride_departure_all").attr("disabled", "disabled");
          $("#ride_departure_first_option").attr("disabled", "disabled");
          $("#ride_departure_second_option").attr("disabled", "disabled");
        } else {
          $(".city-option-same").hide();
          $('#ride_to_location_id').removeClass("validation-error");
          $('#ride_from_location_id').removeClass("validation-error");
          $("input#ride_departure_date").removeAttr("disabled", "disabled");
          $("#ride_departure_all").removeAttr("disabled", "disabled");
          $("#ride_departure_first_option").removeAttr("disabled", "disabled");
          $("#ride_departure_second_option").removeAttr("disabled", "disabled");
          $("#search-form").submit();
        }
      }
    });
    $("#btnAll").click(function(){
      $("input#ride_departure_date").attr("disabled", "disabled");
    });
    $("#btn14").click(function(){
      $("input#ride_departure_date").attr("disabled", "disabled");
    });
    $("#btn30").click(function(){
      $("input#ride_departure_date").attr("disabled", "disabled");
    });


    $( "#ride_departure_date" ).datepicker({
      dateFormat: "yy-mm-dd"   ,
        minDate: 0, maxDate: "+1Y"

    });

    $("input#ride_departure_date").change(function(){
      if($(this).val().length != 0)
      $("#ride_departure_all").removeAttr("checked", "checked");
      $("#ride_departure_first_option").removeAttr("checked", "checked");
      $("#ride_departure_second_option").removeAttr("checked", "checked");
      $("#search-form").submit();
    });

    $("#btnAll").click(function(){
      $("#ride_departure_all").attr("checked", "checked");
      $("#search-form").submit();
      return true;
 
    });

    $("#btn14").click(function(){
      $("#ride_departure_first_option").attr("checked", "checked");
      $("#search-form").submit();
      return true;
    });

    $("#btn30").click(function(){
      $("#ride_departure_second_option").attr("checked", "checked");
      $("#search-form").submit();
      return true;
    });

    if($('#ride_departure_all').is(':checked'))
      $('input#btnAll').addClass('active');
    else if ($('#ride_departure_first_option').is(':checked'))
      $('input#btn14').addClass('active');
    else
      $('input#btn30').addClass('active');

    if($("input#ride_departure_date").val().length != 0){
      $("#ride_departure_all").removeAttr("checked", "checked");
      $('input#btnAll').removeClass('active');
    }
  });
</script>
<div class="clear"></div>
<div id="search_run">
  <div id="header_wrap"  style="margin-top: 22px;">
    <div id="header">
      <%= link_to image_tag("shareshuttle_logo_sm.png", :class=>"left"), root_path %>
      <ul id="top_nav">
        <li>
          <a id="post_ride" class="button post km_click_event_by_text" href="<%= new_ride_path %>">Post a ride</a>
        </li>
      </ul>
    </div>
  </div>

  <div id="content_wrapper" class="new_style">
    <div id="content_container" class="clearfix">
      <div id="content">
        <div id="head">
          <%= form_for :ride, :url => search_rides_path, :method => "get", :html => {:id => "search-form"} do |f| %>
            <div id="schedule-container">
              <%= f.select :from_location_id, Location.all.collect {|p| [ p.name, p.id ] }, {:include_blank => "--- select from ---"}, :style => "width:230px"%>
              <%= f.select :to_location_id, Location.all.collect {|p| [ p.name, p.id ] }, {:include_blank => "--- select to ---"}, :style => "width:230px" %>
              <%= f.text_field(:departure_date, :style=>"height: 27px; margin-top: 0px; border-radius: 5px 5px 5px 5px; height: 25px; vertical-align: top; width: 110px;" ) %>
              <%= image_tag ("calendar_input_icon.png"), :style=>"margin-left: -24px; margin-top: 6px; float: left; position: absolute; " %>
              <input type="button" id="btnAll" value="All" name="ride[departure]" class="form-post.active"/>
              <input type="button" id="btn14" value="Next 14 Days" />
              <input type="button" id="btn30" value="Next 30 Days" />
              <table style="display: none;">
                <tr>
                  <td>
                    <%= f.radio_button :departure, 'all'%>
                  </td>
                  <td>
                    <%= f.label :departure, 'All', :for => 'ride_departure_all'%>
                  </td>
                  <td>
                    <%= f.radio_button :departure, 'first_option' %>
                  </td>
                  <td>
                    <%= f.label :departure, "Next #{SEARCH_OPTION_ONE_IN_DAYS} days", :for => "ride_departure_first_option"%>
                  </td>
                  <td>
                    <%= f.radio_button :departure , 'second_option' %>
                  </td>
                  <td>
                    <%= f.label :departure, "Next #{SEARCH_OPTION_TWO_IN_DAYS} days", :for => 'ride_departure_second_option'%>
                  </td>
                </tr>
              </table>
              <%= hidden_field_tag :search_posted, "true" %>
            </div>
          <% end %>
          <div class="city-option-same" style="display: none"> From and To City can't be the same </div>
        </div>
        <div id="results">
          <div class="ride_list">
            <% if @rides.empty? %>
              <h3 class="headline first">
                No Records Found
              </h3>
            <%end%>
            <% last_date = [] %>
            <%@rides.each do |ride| %>
              <% ride.friends_in_common ||= [] %>

              <% unless last_date.include? ride.departure_date  %>
                <h3 class="headline first">
                  <%= ride.departure_date.strftime("Departing %A, %B #{ride.departure_date.day.ordinalize}") %>
                </h3>
                <% last_date << ride.departure_date %>
              <% end %>
              <a href="<%= new_ride_ride_participant_path(ride, :return_url => request.query_string )%>" <% if ride.remaining_seats==0 %> onclick="return false" <%end%> >
                <div class="entry">
                  <%  if ride.remaining_seats==0 %>
                    <div class="price_box">
                      <div class="seats">
                        <span class="count1">SOLD OUT</span>
                      </div>
                      <p><b><%= number_to_currency(ride.total_price/ride.available_seats)%></b> / seat</p>
                    </div>
                  <%else%>
                    <div class="price_box">
                      <div class="seats">
                        <span class="count"><%= number_to_currency(ride.total_price/ride.available_seats)%></span>
                      </div>
                      <p><b><%= ride.duration_in_minutes%>min</b></p>
                    </div>
                  <%end%>
                  <div class="inner_content">
                    <div class="info-rides">
                      <div class="inner-info-line1"><p class="inner-l1">Leave: &nbsp; &nbsp;&nbsp;<span class="info-line1"><%= ride.departure_time.strftime("%I:%M %p")%></span> &nbsp; &nbsp;±<%= ride.flexibility_in_minutes %> mins &nbsp; &nbsp<span class="info-line11"><%= ride.from_location && ride.from_location.name %></span></p></div>
                      <div class="inner-info-line1"><p class="inner-l1">Arrival: &nbsp;  &nbsp; <span class="info-line1"><%= (ride.departure_time + ride.duration_in_minutes.minutes).strftime("%I:%M %p")  %></span> &nbsp; &nbsp;±<%= ride.flexibility_in_minutes %> mins &nbsp; &nbsp<span class="info-line11"><%= ride.to_location && ride.to_location.name %></span></p></div>
                    </div>
                    <div class="ride-image"><%= image_tag ("#{ride.ride_type.downcase.gsub(" ","")}.jpg") %><%= ride.ride_type %></div>
                    <div class="participant-pic">
                      <%ride.ride_participants.active_participants.role_wise.each do |rider| %>
                        <div class="riders-pics">
                          <div class="riders-info"><%= rider.user.first_name%>&nbsp; <%= rider.user.last_name.chars.first %></div>
                          <%= image_tag rider.user.user_image_url %>
                          <span class="driver">
                            <% if @graph.present? && rider.user_id != current_user.id && (current_user.authentications.first.present?) && (rider.user.authentications.first.present?)  %>
                              <% mutual_friends = @graph.get_connections(current_user.authentications.first.uid, "mutualfriends/#{rider.user.authentications.first.uid}")%>
                              <% ride.friends_in_common << mutual_friends  %>
                            <% end %>
                          </span>
                        </div>

                      <%end%>
                      <% ride.remaining_seats.times do %>
                        <div class="riders-pics">
                          <div class="riders-info">open&nbsp;seat</div>
                          <%= image_tag "car_seat_icon.gif" %>
                          <span class="driver"></span>
                        </div>
                      <% end %>
                    </div>
                    <% if @graph.present? %>
                    <div style="float:left; margin-top: -20px">

                      <% mutual_friends = ride.friends_in_common.flatten.uniq %>
                      <% if mutual_friends.count > 0 %>
                      <%= "#{mutual_friends.count} friend".pluralize(mutual_friends.count) %>  in common,
                      <% end %>
                      <% mutual_friends.each do |friend|  %>
                        <%= friend["name"] %>
                        <% unless friend == mutual_friends.last %>
                          &nbsp;and&nbsp;
                        <% end %>
                      <% end %>

                    </div>
                    <% end %>
                  </div>
                </div>
              </a>
            <%end%>
            <div id="action">
              <div class="item postride">
                <h2>Didn't find what you were looking for?</h2>
                <p>Post a ride as a driver or passenger and get notified when new matches are found!</p>
                <a class="button post" href="<%= new_ride_path %>">Post a ride</a>
              </div>
            </div>
          </div>
          <div class="page_list">
            <span class="showing">
              Showing <%= number_of_records(params[:page], SEARCH_RIDES_PER_PAGE) %> - <%= number_of_records(params[:page], SEARCH_RIDES_PER_PAGE, SEARCH_RIDES_PER_PAGE) %> of <strong><%= @count %> results</strong>
            </span>
            <div class="pagination">
              <span class="first_page">
                <span>« Prev</span>
              </span>

              <%= will_paginate @rides, :previous_label => "<", :next_label => ">" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



