<% body_css_class('Homepage') %>
<script type="text/javascript">

  $(document).ready(function() {

  $(".newsticker-jcarousellite").jCarouselLite({
  vertical: true,
  hoverPause:true,
  visible: 3,
  auto:500,
  speed:1000
  });


  $('#home_search').submit(function() {
  if(isSameGroup()){
    jAlert('Same group selected.', 'Error');
  return false;
  }
  }
  );

  });
</script>


<section class="Main">
  <div class="Splash">
    <div class="CycleWrapper">
      <div class="CycleInnerWrapper">
        <div class="Background1">&nbsp;</div>
        <div class="Background2">&nbsp;</div>
        <div class="Background3">&nbsp;</div>
        <div class="Background4">&nbsp;</div>
      </div>
    </div> <!-- CycleWrapper -->
    <h1>Share a Direct Ride to the Airport.</h1>
    <h2>Find others from your neighborhood and take a taxi or black car together.</h2>
    <a href="/footers/how_it_works" class="HowItWorks">How it works &raquo;</a>
    <%= form_for(:ride, :url => search_rides_path, :method => "get", :html=>{:id=>'home_search'}) do |f| %>
      <fieldset>
        <%= f.select :from_location_id, (location_options_for_select), {},:style => "width:310px", :class=>"chzn-select"%>
        <a class="LocationSwitch">Switch</a>
        <%= f.select :to_location_id, (location_options_for_select), {},:style => "width:310px", :class=>"chzn-select"%>
        <%= hidden_field_tag :search_posted, "true" %>
        <%= f.submit "View Rides Now", :class => "SplashButton", :id => "btn-search"%>
      </fieldset>
    <% end %>

  </div> <!-- Splash -->
  <section class="FacebookTestimonials">
    <div class="fb-like" data-href="http://www.shairporter.com" data-send="false" data-width="465" data-show-faces="true" data-font="arial"></div> <!-- Facebook Like Widget -->

    <div class="Testimonial">
    </div>


  </section> <!-- FacebookTestimonials -->
  <section class="RecentActivity">
    <h2>Recent Activity</h2>
    <div class="RaTicker">
      <div class="newsticker-jcarousellite">
        <ul>
          <% @rides.each do |ride| %>
            <li>
              <a href="<%= new_ride_ride_participant_path(ride) %>" class="UserIcon_50x50"><%= image_tag ride.owner.user_image_url %></a>
              <a href="<%= new_ride_ride_participant_path(ride) %>" class="Activity"><%= ride.owner.first_name %> just posted a new ride!</a>
              <span class="Notice"><%= (ride.remaining_seats > 0)? ('just matched!'):('Sold out') %></span>
              <span class="Locations"><%= ride.from_location && ride.from_location.name %> to <%= ride.to_location && ride.to_location.name %></span>
            </li>
          <% end %>
        </ul>
      </div>
      <% if @rides.blank? %>
        <span class="Notice">No recent activity found...</span>
      <% end %>
    </div>
  </section> <!-- RecentActivity -->
</section>
