
<script type="text/javascript">
  $(document).ready(function() {
    $('#ride_to_location_id').change(function() {
      if($(this).val() != ""){
        if ($(this).val() == $('#ride_from_location_id').val()) {
          $(".city-option-same").show();
          $('#ride_to_location_id').addClass("validation-error");
          $('#ride_from_location_id').addClass("validation-error");
          $("#btn-search").attr("disabled", "disabled");
        } else {
          $(".city-option-same").hide();
          $('#ride_to_location_id').removeClass("validation-error");
          $('#ride_from_location_id').removeClass("validation-error");
          $("#btn-search").removeAttr("disabled");
        }
      }
    });
    $('#ride_from_location_id').change(function() {
      if($(this).val() != ""){
        if ($(this).val() == $('#ride_to_location_id').val()) {
          $(".city-option-same").show();
          $('#ride_to_location_id').addClass("validation-error");
          $('#ride_from_location_id').addClass("validation-error");
          $("#btn-search").attr("disabled", "disabled");
        } else {
          $(".city-option-same").hide();
          $('#ride_to_location_id').removeClass("validation-error");
          $('#ride_from_location_id').removeClass("validation-error");
          $("#btn-search").removeAttr("disabled");
        }
      }
    });

      $( "#ride_departure" ).datepicker({
      dateFormat: "yy-mm-dd"
    });

    $('.ride-scroll').animate({
    scrollTop: $('.ride-scroll').get(0).scrollHeight
}, 100000);

  });
</script>
<div class="clear"></div>

<div id="static_splash2">

  <div id="header_wrap" style="margin-top: -10px;">
    <div id="header">
        <%= link_to image_tag("shareshuttle_logo_sm.png", :class=>"left"), root_path %>
      <ul id="top_nav">
        <li>
          <a id="post_ride" class="button post km_click_event_by_text" href="<%= new_ride_path %>">Post a ride</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="stagewrap" ></div> 
  <div id="content_wrapper" class="new_style">
    <div id="content_container" class="clearfix">
      <div id="content">
        <div id="routes">
          <%= form_for :ride, :url => search_rides_path, :method => "get" do |f| %>
            <div class="box">
              <div class="text_input">
                 <%= hidden_field_tag :search_posted, "true" %>
          <label for="search_s" class="pin start"></label>
                 <%= f.select :from_location_id, Location.all.collect {|p| [ p.name, p.id ] }, :include_blank => "--- select from ---"%>
               </div>
              <div class="text_input">
                <label for="search_e" class="pin end"></label>
                <%= f.select :to_location_id, Location.all.collect {|p| [ p.name, p.id ] }, :include_blank => "--- select to ---"%>
               </div>
               <%= f.submit "Search", :class => "button confirm clickaway_confirm", :id => "btn-search"%>
            </div>
        

            <div class="heading">
              <h1 style="color:white;background: transparent;">Share a Direct Ride<br /></h1>
              <p>
                Find others from your neighborhood <br/>and take a car together.<br />
              </p>
            </div>
          <% end %>
        </div>
        <div class="city-option-same" style="font-weight: bold;color: red; display: none"> From and To City can't be the same </div>
      </div>
      <div id="content">
        <div id="results" class="subsection">
          <div class="ride_list rides">
            <h3 class="headline first">
              Latest Rides
            </h3>
            <ul class="non-blue-h1 ride-scroll"><%@rides.each do |ride| %>
                <li style="top: 0px;">
                  <a class="km_click_event_by_href" href="<%= new_ride_ride_participant_path(ride) %>">
                    <div class="price_box"> 
                      <% if ride.remaining_seats > 0 %>
                      <h1><%= number_to_currency(ride.per_price_seat)%></h1>
                      <p>per seat</p>
                      <% else %>
                        <h1>Sold out</h1>
                      <% end %>
                    </div>
                    <%= image_tag ride.owner.user_image.url.to_s %>
                    <h1><%= ride.from_location && ride.from_location.name %><span class="trip_type"></span><%= ride.to_location && ride.to_location.name %></h1>
                    <p>
                      <span class="driver"></span>
                      <% if ride.remaining_seats > 0 %>
                      <%= ride.owner.first_name%> / <%= ride.remaining_seats %> seats left
                      <% else %>
                        Sold out
                      <% end %>
                    </p>
                  </a>
                </li>
              <%end%>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>