<% body_css_class('FindaRide') %>
<%= javascript_include_tag 'tooltips' %>
<script type="text/javascript">
  $(document).ready(function () {
  $('#ride_to_location_id').change(function () {                          // here check to and from location ar not from same group
  var A = [1,2,3];
  var i = 0;
  var j = 0;
  var k = 0;
  var IsFound = false;
  var IsFound2 = false;
  if ($(this).val() != "" && $('#ride_from_location_id').val() != "") {
  while (i < A.length) {
  if ($('#ride_to_location_id').val() == A[i]) {
  IsFound = true;
  break;
  }
  i = i + 1;
  }
  while (k < A.length) {
  if ($('#ride_from_location_id').val() == A[k]) {
  IsFound2 = true;
  break;
  }
  k = k + 1;
  }
  if (IsFound) {
  while (j < A.length) {
  if ($('#ride_from_location_id').val() <= A[j]) {
  $(".city-option-same").show();
  $('#ride_to_location_id').addClass("validation-error");
  $('#ride_from_location_id').addClass("validation-error");
  $("#ride_departure_all").attr("disabled", "disabled");
  $("#ride_departure_first_option").attr("disabled", "disabled");
  $("#ride_departure_second_option").attr("disabled", "disabled");
  $("#btnAll").attr("disabled", "disabled");
  $("#btn14").attr("disabled", "disabled");
  $("#btn30").attr("disabled", "disabled");
  $("#RideSearch").attr("disabled", "disabled");
  return false;
  }
  else {
  $(".city-option-same").hide();
  $('#ride_to_location_id').removeClass("validation-error");
  $('#ride_from_location_id').removeClass("validation-error");
  $("#ride_departure_all").removeAttr("disabled", "disabled");
  $("#ride_departure_first_option").removeAttr("disabled", "disabled");
  $("#ride_departure_second_option").removeAttr("disabled", "disabled");
  $("#btnAll").removeAttr("disabled", "disabled");
  $("#btn14").removeAttr("disabled", "disabled");
  $("#btn30").removeAttr("disabled", "disabled");
  //$("#RideSearch").submit();
  }
  j = j + 1;
  }
  $("#RideSearch").submit();
  }
  else {
  if (!IsFound2) {
  $(".city-option-same").show();
  $('#ride_to_location_id').addClass("validation-error");
  $('#ride_from_location_id').addClass("validation-error");
  $("#ride_departure_all").attr("disabled", "disabled");
  $("#ride_departure_first_option").attr("disabled", "disabled");
  $("#ride_departure_second_option").attr("disabled", "disabled");
  $("#btnAll").attr("disabled", "disabled");
  $("#btn14").attr("disabled", "disabled");
  $("#btn30").attr("disabled", "disabled");
  $("#RideSearch").attr("disabled", "disabled");
  return false;
  }
  else {
  $(".city-option-same").hide();
  $('#ride_to_location_id').removeClass("validation-error");
  $('#ride_from_location_id').removeClass("validation-error");
  $("#ride_departure_all").removeAttr("disabled", "disabled");
  $("#ride_departure_first_option").removeAttr("disabled", "disabled");
  $("#ride_departure_second_option").removeAttr("disabled", "disabled");
  $("#btnAll").removeAttr("disabled", "disabled");
  $("#btn14").removeAttr("disabled", "disabled");
  $("#btn30").removeAttr("disabled", "disabled");
  $("#RideSearch").submit();
  }
  }
  }
  });

  $('#ride_from_location_id').change(function () {                        // here check for to and from location from same group
  var A = [1,2,3];
  var i = 0;
  var j = 0;
  var k = 0;
  var IsFound = false;
  var IsFound2 = false;
  if ($(this).val() != "" && $('#ride_to_location_id').val() != "") {
  while (i < A.length) {
  if ($('#ride_from_location_id').val() == A[i]) {
  IsFound = true;
  break;
  }
  i = i + 1;
  }
  while (k < A.length) {
  if ($('#ride_to_location_id').val() == A[k]) {
  IsFound2 = true;
  break;
  }
  k = k + 1;
  }

  if (IsFound) {
  while (j < A.length) {
  if ($('#ride_to_location_id').val() <= A[j]) {

  $(".city-option-same").show();
  $('#ride_to_location_id').addClass("validation-error");
  $('#ride_from_location_id').addClass("validation-error");
  $("#ride_departure_all").attr("disabled", "disabled");
  $("#ride_departure_first_option").attr("disabled", "disabled");
  $("#ride_departure_second_option").attr("disabled", "disabled");
  $("#btnAll").attr("disabled", "disabled");
  $("#btn14").attr("disabled", "disabled");
  $("#btn30").attr("disabled", "disabled");
  $("#RideSearch").attr("disabled", "disabled");
  return false;
  }
  else {
  $(".city-option-same").hide();
  $('#ride_to_location_id').removeClass("validation-error");
  $('#ride_from_location_id').removeClass("validation-error");
  $("#ride_departure_all").removeAttr("disabled", "disabled");
  $("#ride_departure_first_option").removeAttr("disabled", "disabled");
  $("#ride_departure_second_option").removeAttr("disabled", "disabled");
  $("#btnAll").removeAttr("disabled", "disabled");
  $("#btn14").removeAttr("disabled", "disabled");
  $("#btn30").removeAttr("disabled", "disabled");
  //$("#RideSearch").submit();
  }
  j = j + 1;
  }
  $("#RideSearch").submit();
  }
  else {
  if (!IsFound2) {
  $(".city-option-same").show();
  $('#ride_to_location_id').addClass("validation-error");
  $('#ride_from_location_id').addClass("validation-error");
  $("#ride_departure_all").attr("disabled", "disabled");
  $("#ride_departure_first_option").attr("disabled", "disabled");
  $("#ride_departure_second_option").attr("disabled", "disabled");
  $("#btnAll").attr("disabled", "disabled");
  $("#btn14").attr("disabled", "disabled");
  $("#btn30").attr("disabled", "disabled");
  !$("#RideSearch").attr("disabled", "disabled");
  return false;
  }
  else {
  $(".city-option-same").hide();
  $('#ride_to_location_id').removeClass("validation-error");
  $('#ride_from_location_id').removeClass("validation-error");
  $("#ride_departure_all").removeAttr("disabled", "disabled");
  $("#ride_departure_first_option").removeAttr("disabled", "disabled");
  $("#ride_departure_second_option").removeAttr("disabled", "disabled");
  $("#btnAll").removeAttr("disabled", "disabled");
  $("#btn14").removeAttr("disabled", "disabled");
  $("#btn30").removeAttr("disabled", "disabled");
  $("#RideSearch").submit();
  }
  }
  }
  });




  $("#btnAll").click(function () {
  $("#ride_departure_all").attr("checked", "checked");
  $("#RideSearch").submit();
  return true;

  });

  $("#btn14").click(function () {
  $("#ride_departure_first_option").attr("checked", "checked");
  $("#RideSearch").submit();
  return true;
  });

  $("#btn30").click(function () {
  $("#ride_departure_second_option").attr("checked", "checked");
  $("#RideSearch").submit();
  return true;
  });

  if ($('#ride_departure_all').is(':checked'))
  $('input#btnAll').addClass('Active');
  else if ($('#ride_departure_first_option').is(':checked'))
  $('input#btn14').addClass('Active');
  else
  $('input#btn30').addClass('Active');


  });
</script>

<div class="post_ride-popup" style="display: none;">
  <div class="post_ride-popup-overlay"></div>
  <div class="post_ride-popup-centered">
    <div class="post_ride_vertically-centered">
      <a class="closed" href="#" title="Closed" onclick="$('.post_ride-popup').hide();"> </a>
      <div class="post_ride_window">

        <ul id="post_ride_heading">
          <li class="current" id="where_to_heading"><span class="number">1</span><span class="post_heading_content">Where to?</span></li>
          <li><span class="number" id="what-time_heading">2</span><span class="post_heading_content">What time?</span></li>
          <li><span class="number" id="what-else_heading">3</span><span class="post_heading_content">What else?</span></li>
        </ul>

        <div id="ajax-containers">
        </div>



        <div class="area_detail">
          <div class="map"></div>
          <p><strong>Distance:</strong>  25 miles  &nbsp;  <strong>Duration:</strong> 34 mins<br>
            <strong>Estimated Fare:</strong> $40 (Taxi)  $60 (Black Car)<br>
            <span class="small_text"><i>*before tip and toll</i></span>
          </p>

        </div>


      </div>



    </div>
  </div>
</div>



<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&libraries=places"></script>







<section id="FindaRide" class="Main">
  <header>
    <h1>Find a Ride</h1>
    <h2>Find others from your neighborhood and take a taxi or black car together.</h2>
  </header>
  <%= form_for :ride, :url => search_rides_path, :method => "get", :html => {:id => "RideSearch"} do |f| %>
    <fieldset>
      <ul>
        <li>
          <label for="">From:</label>
          <%= f.select :from_location_id, (Location.all.collect {|p| [ p.name, p.id ] }), {},:style => "width:310px", :class=>"chzn-select"%>
        </li>
        <li><a class="LocationSwitch">Switch</a></li>
        <li>
          <label for="Select_Airlines">To:</label>
          <%= f.select :to_location_id, (Location.all.collect {|p| [ p.name, p.id ] }), {},:style => "width:310px", :class=>"chzn-select"%>
        </li>
        <li class="SearchButtons">
          <label>When:</label>
          <input type="hidden" id="SearchTime"/>

          <input type="button" id="btnAll" value="All" name="ride[departure]" class="SearchTime"/>
          <input type="button" id="btn14" value="Next 14 Days" class="SearchTime"/>
          <input type="button" id="btn30" value="Next 30 Days" class="SearchTime" />


          <table style="display: none;">
            <tr>
              <td>
                <%= f.radio_button :departure, 'all' %>
              </td>
              <td>
                <%= f.label :departure, 'All', :for => 'ride_departure_all' %>
              </td>
              <td>
                <%= f.radio_button :departure, 'first_option' %>
              </td>
              <td>
                <%= f.label :departure, "Next #{SEARCH_OPTION_ONE_IN_DAYS} days", :for => "ride_departure_first_option" %>
              </td>
              <td>
                <%= f.radio_button :departure, 'second_option' %>
              </td>
              <td>
                <%= f.label :departure, "Next #{SEARCH_OPTION_TWO_IN_DAYS} days", :for => 'ride_departure_second_option' %>
              </td>
            </tr>
          </table>





        </li>
      </ul>
    </fieldset>
    <%= hidden_field_tag :search_posted, "true" %>
  <% end %> <!-- #RideSearch -->

  <div class="PostRideBanner">
    <h3>Don't see what you're looking for?</h3>
    <p>Get notified when new matches are found!</p>
    <a href="#" id="post-a-ride" onclick="$('.post_ride-popup').show();$.ajax( { url: '/rides/new', context: document.body, success: function(data){ $('#ajax-containers').html(data); } });return false;">Post a Ride</a>

  </div> <!-- PostRideBanner -->


  <div class="RidesWrapper">
    <% if @rides.empty? %>
      <h3 class="headline first">
        No Records Found
      </h3>
    <% else %>

      <% last_date = [] %>


      <h3><%= @rides.first.departuredatetime.strftime("Departing %A, %B #{@rides.first.departuredatetime.day.ordinalize}") %></h3>
      <% last_date = [@rides.first.departure_date] %>
      <div class="Legend">
        <span class="Estimated">Prices &amp; Times <a class="HelpTooltip" title="Prices are estimated using taxi or black car fares given your location and airport. For example, a taxi to JFK is a flat $45 before tip &amp; toll, black car service is typically $60 to $80.<span class='TooltipArrow'>Arrow</span>">?</a></span>
      </div>


      <ul class="RidesList">
        <% @rides.each do |ride| %>


          <% unless last_date.include? ride.departure_date %>
            <h3 class="headline first">
              <%= ride.departuredatetime.strftime("Departing %A, %B #{ride.departuredatetime.day.ordinalize}") %>
            </h3>
            <% last_date << ride.departure_date %>
          <% end %>



          <li>

    <%# Select a Ride widget %>
            <% if ride.remaining_seats > 0 %>
              <div class="SelectRide">
                <a class="RideInfoBtn">
                  <span>approx.</span>
                  <strong><%= number_to_currency(ride.total_price/ride.available_seats) %></strong>
                  <span><%= ride.duration_in_minutes %> min</span>
                </a>
                <a class="Select" href="<%= new_ride_ride_participant_path(ride, :return_url => request.query_string) %>">Select</a>
              </div>
            <% else %>
              <div class="SelectRide" >
                <a class="RideInfoBtn" href="<%= clone_ride_path(ride) %>">
                  <span>Sold Out!</span>
                  <strong>Full</strong>
                  <span>Ride</span>
                </a>
                <a class="PostSimilar" href="<%= clone_ride_path(ride) %>">Post Similar</a>
              </div>
            <% end %>
    <%# end of Select a Ride widget %>


            <table class="RideDetails">
              <tr>
                <th class="Leave" scope="row"><span class="Icon">Icon</span> Leave:</th>

                <td class="LeaveArriveTime"><strong><%= ride.departuredatetime.strftime("%I:%M %p") %></strong></td>
                <td class="PlusMinus">&plusmn; <%= ride.flexibility_in_minutes %> min.</td>
                <td><strong><%= ride.from_location && ride.from_location.name %></strong></td>
              </tr>
              <tr>
                <th class="Arrive" scope="row"><span class="Icon">Icon</span> Arrive:</th>
                <td class="LeaveArriveTime"><strong><%= (ride.departuredatetime + ride.duration_in_minutes.minutes).strftime("%I:%M %p") %></strong></td>
                <td class="PlusMinus">&plusmn; <%= ride.flexibility_in_minutes %> min.</td>
                <td><strong><%= ride.to_location && ride.to_location.name %> <span class="SameLocationIcon">Check</span></strong></td>
              </tr>
            </table> <!-- RideDetails -->



            <%= image_tag "cartype_#{ride.ride_type}.png", :class=>'RideType', :width=>'93', :height=>'51'  %>


            <ul class="UserList">

              <% ride.friends_in_common ||= []%>
              <% ride.ride_participants.active_participants.role_wise.each do |rider| %>

                <% ride.friends_in_common ||= [] %>
                <% if @graph.present? && rider.user_id != current_user.id && (current_user.authentications.first.present?) && (rider.user.authentications.first.present?) %>              <!--check if login through facebook then fetch his friends -->
                  <% mutual_friends = @graph.get_connections(current_user.authentications.first.uid, "mutualfriends/#{rider.user.authentications.first.uid}") %>
                  <% ride.friends_in_common << mutual_friends %>
                <% end %>
                <li>
                  <a href="#" class="UserPhoto" id="Trigger_UserID_<%= rider.id %>">
                    <%= image_tag rider.user.user_image_url, :width=>"60", :height=>"60" %>
                  </a>
                  <a href="#" class="UserName">
                    <%= rider.user.first_name %>&nbsp; <%= rider.user.last_name.chars.first %>.
                  </a>

                  <script type="text/javascript">
                    user_tool_tips["#Trigger_UserID_<%= rider.id %>"] = "#TT_UserID_<%= rider.id %>";
                  </script>

                  <!-- HIDDEN TOOLTIP -->
                  <div class="UserTooltip" id="TT_UserID_<%= rider.id %>">
                    <h4><a href="<%=user_path(rider.user)%>"><%= rider.user.full_name %></a> from <%= rider.user.city %></h4>
                    <p><em><%= rider.user.interest %></em></p>
                    <div class="UserInfo">
                      <div class="UserPhoto">
                        <%= image_tag rider.user.user_image_url, :width=>"80", :height=>"80" %>
                      </div>
                      <ul>
                        <li>Facebook <em>(<a href="<%=user_path(rider.user)%>"><%= "#{rider.user.number_of_friends} #{("friend".pluralize(rider.user.number_of_friends))}" %></a>)</em></li>
                        <li><%= rider.user.ride_participants.past_rides(SpClock.time).active_rides.confirmed_or_owner_participants.count %> past rides, <a href="<%=user_path(rider.user)%>"><%= rider.user.feedbacks.count %> feedback</a></li>
                        <li><strong>Networks: </strong>UC Berkely, Miramonte High</li>
                      </ul>
                    </div>
                    <span class="TooltipArrow">Arrow</span>
                  </div> <!-- UserTooltip -->

                </li>
              <% end %>

              <% ride.remaining_seats.times do %>
                <li>
                  <a class="EmptySeat"><%= image_tag 'emptyseat_60x60.png' %></a>
                  <a href="#" class="UserName">+1 Seat Open</a>
                </li>
              <% end %>


            </ul>


            <% if @graph.present? && (ride.friends_in_common.count > 0)%>
              <% mutual_friends = ride.friends_in_common.flatten.uniq %>
              <ul class="FriendsInCommon">
                <li><strong><em><%= "#{mutual_friends.count} mutual friend".pluralize(mutual_friends.count) %>!</em></strong></li>
                <% mutual_friends.each do |friend| %>
                  <li>
                    <a class="UserPhoto" href="#"><img width="30" height="30" alt="temp_user_30x30" src="http://graph.facebook.com/<%=friend["id"]%>/picture" /></a>
                    <a class="UserName" href="#"><%= friend["name"] %></a>
                  </li>
                <% end %>
              </ul>
            <% end %>


          </li>
        <% end %>

      </ul>
    <% end %>


  </div> <!-- RidesWrapper -->





  <%= will_paginate @rides, :previous_label => "&laquo;", :next_label => "&raquo;", :class=>'Pagination' %>


</section> <!-- Main #FindaRide -->

