<script type="text/javascript">
    $(document).ready(function () {
        $('#ride_to_location_id').change(function () {                          // here check to and from location ar not from same group
            var A = [1,2,3];
            var i = 0;
            var j = 0;
            var k = 0;
            var IsFound = false;
            var IsFound2 = false;
            if ($(this).val() != "" && $('#ride_from_location_id').val() != "") {
                while (i < A.length) {
                    if ($('#ride_to_location_id').val() == A[i]) {
                        IsFound = true;
                        break;
                    }
                    i = i + 1;
                }
                while (k < A.length) {
                    if ($('#ride_from_location_id').val() == A[k]) {
                        IsFound2 = true;
                        break;
                    }
                    k = k + 1;
                }
                if (IsFound) {
                    while (j < A.length) {
                        if ($('#ride_from_location_id').val() <= A[j]) {
                            $(".city-option-same").show();
                            $('#ride_to_location_id').addClass("validation-error");
                            $('#ride_from_location_id').addClass("validation-error");
                            $("#ride_departure_all").attr("disabled", "disabled");
                            $("#ride_departure_first_option").attr("disabled", "disabled");
                            $("#ride_departure_second_option").attr("disabled", "disabled");
                            $("#btnAll").attr("disabled", "disabled");
                            $("#btn14").attr("disabled", "disabled");
                            $("#btn30").attr("disabled", "disabled");
                            $("#RideSearch").attr("disabled", "disabled");
                            return false;
                        }
                        else {
                            $(".city-option-same").hide();
                            $('#ride_to_location_id').removeClass("validation-error");
                            $('#ride_from_location_id').removeClass("validation-error");
                            $("#ride_departure_all").removeAttr("disabled", "disabled");
                            $("#ride_departure_first_option").removeAttr("disabled", "disabled");
                            $("#ride_departure_second_option").removeAttr("disabled", "disabled");
                            $("#btnAll").removeAttr("disabled", "disabled");
                            $("#btn14").removeAttr("disabled", "disabled");
                            $("#btn30").removeAttr("disabled", "disabled");
                            //$("#RideSearch").submit();
                        }
                        j = j + 1;
                    }
                    $("#RideSearch").submit();
                }
                else {
                    if (!IsFound2) {
                        $(".city-option-same").show();
                        $('#ride_to_location_id').addClass("validation-error");
                        $('#ride_from_location_id').addClass("validation-error");
                        $("#ride_departure_all").attr("disabled", "disabled");
                        $("#ride_departure_first_option").attr("disabled", "disabled");
                        $("#ride_departure_second_option").attr("disabled", "disabled");
                        $("#btnAll").attr("disabled", "disabled");
                        $("#btn14").attr("disabled", "disabled");
                        $("#btn30").attr("disabled", "disabled");
                        $("#RideSearch").attr("disabled", "disabled");
                        return false;
                    }
                    else {
                        $(".city-option-same").hide();
                        $('#ride_to_location_id').removeClass("validation-error");
                        $('#ride_from_location_id').removeClass("validation-error");
                        $("#ride_departure_all").removeAttr("disabled", "disabled");
                        $("#ride_departure_first_option").removeAttr("disabled", "disabled");
                        $("#ride_departure_second_option").removeAttr("disabled", "disabled");
                        $("#btnAll").removeAttr("disabled", "disabled");
                        $("#btn14").removeAttr("disabled", "disabled");
                        $("#btn30").removeAttr("disabled", "disabled");
                        $("#RideSearch").submit();
                    }
                }
            }
        });

        $('#ride_from_location_id').change(function () {                        // here check for to and from location from same group
            var A = [1,2,3];
            var i = 0;
            var j = 0;
            var k = 0;
            var IsFound = false;
            var IsFound2 = false;
            if ($(this).val() != "" && $('#ride_to_location_id').val() != "") {
                while (i < A.length) {
                    if ($('#ride_from_location_id').val() == A[i]) {
                        IsFound = true;
                        break;
                    }
                    i = i + 1;
                }
                while (k < A.length) {
                    if ($('#ride_to_location_id').val() == A[k]) {
                        IsFound2 = true;
                        break;
                    }
                    k = k + 1;
                }

                if (IsFound) {
                    while (j < A.length) {
                        if ($('#ride_to_location_id').val() <= A[j]) {

                            $(".city-option-same").show();
                            $('#ride_to_location_id').addClass("validation-error");
                            $('#ride_from_location_id').addClass("validation-error");
                            $("#ride_departure_all").attr("disabled", "disabled");
                            $("#ride_departure_first_option").attr("disabled", "disabled");
                            $("#ride_departure_second_option").attr("disabled", "disabled");
                            $("#btnAll").attr("disabled", "disabled");
                            $("#btn14").attr("disabled", "disabled");
                            $("#btn30").attr("disabled", "disabled");
                            $("#RideSearch").attr("disabled", "disabled");
                            return false;
                        }
                        else {
                            $(".city-option-same").hide();
                            $('#ride_to_location_id').removeClass("validation-error");
                            $('#ride_from_location_id').removeClass("validation-error");
                            $("#ride_departure_all").removeAttr("disabled", "disabled");
                            $("#ride_departure_first_option").removeAttr("disabled", "disabled");
                            $("#ride_departure_second_option").removeAttr("disabled", "disabled");
                            $("#btnAll").removeAttr("disabled", "disabled");
                            $("#btn14").removeAttr("disabled", "disabled");
                            $("#btn30").removeAttr("disabled", "disabled");
                            //$("#RideSearch").submit();
                        }
                        j = j + 1;
                    }
                    $("#RideSearch").submit();
                }
                else {
                    if (!IsFound2) {
                        $(".city-option-same").show();
                        $('#ride_to_location_id').addClass("validation-error");
                        $('#ride_from_location_id').addClass("validation-error");
                        $("#ride_departure_all").attr("disabled", "disabled");
                        $("#ride_departure_first_option").attr("disabled", "disabled");
                        $("#ride_departure_second_option").attr("disabled", "disabled");
                        $("#btnAll").attr("disabled", "disabled");
                        $("#btn14").attr("disabled", "disabled");
                        $("#btn30").attr("disabled", "disabled");
                        !$("#RideSearch").attr("disabled", "disabled");
                        return false;
                    }
                    else {
                        $(".city-option-same").hide();
                        $('#ride_to_location_id').removeClass("validation-error");
                        $('#ride_from_location_id').removeClass("validation-error");
                        $("#ride_departure_all").removeAttr("disabled", "disabled");
                        $("#ride_departure_first_option").removeAttr("disabled", "disabled");
                        $("#ride_departure_second_option").removeAttr("disabled", "disabled");
                        $("#btnAll").removeAttr("disabled", "disabled");
                        $("#btn14").removeAttr("disabled", "disabled");
                        $("#btn30").removeAttr("disabled", "disabled");
                        $("#RideSearch").submit();
                    }
                }
            }
        });

        

        
        $("#btnAll").click(function () {
            $("#ride_departure_all").attr("checked", "checked");
            $("#RideSearch").submit();
            return true;

        });

        $("#btn14").click(function () {
            $("#ride_departure_first_option").attr("checked", "checked");
            $("#RideSearch").submit();
            return true;
        });

        $("#btn30").click(function () {
            $("#ride_departure_second_option").attr("checked", "checked");
            $("#RideSearch").submit();
            return true;
        });

        if ($('#ride_departure_all').is(':checked'))
            $('input#btnAll').addClass('Active');
        else if ($('#ride_departure_first_option').is(':checked'))
            $('input#btn14').addClass('Active');
        else
            $('input#btn30').addClass('Active');


    });
</script>










<section id="FindaRide" class="Main">
  <header>
    <h1>Find a Ride</h1>
    <h2>Find others from your neighborhood and take a taxi or black car together.</h2>
  </header>
  <%= form_for :ride, :url => search_rides_path, :method => "get", :html => {:id => "RideSearch"} do |f| %>
    <fieldset>
      <ul>
        <li>
          <label for="">From:</label>
          <%= f.select :from_location_id, (Location.all.collect {|p| [ p.name, p.id ] }), {},:style => "width:310px", :class=>"chzn-select"%>
        </li>
        <li><a class="LocationSwitch">Switch</a></li>
        <li>
          <label for="Select_Airlines">To:</label>
          <%= f.select :to_location_id, (Location.all.collect {|p| [ p.name, p.id ] }), {},:style => "width:310px", :class=>"chzn-select"%>
        </li>
        <li class="SearchButtons">
          <label>When:</label>
          <input type="hidden" id="SearchTime"/>

          <input type="button" id="btnAll" value="All" name="ride[departure]" class="SearchTime"/>
          <input type="button" id="btn14" value="Next 14 Days" class="SearchTime"/>
          <input type="button" id="btn30" value="Next 30 Days" class="SearchTime" />


          <table style="display: none;">
            <tr>
              <td>
                <%= f.radio_button :departure, 'all' %>
              </td>
              <td>
                <%= f.label :departure, 'All', :for => 'ride_departure_all' %>
              </td>
              <td>
                <%= f.radio_button :departure, 'first_option' %>
              </td>
              <td>
                <%= f.label :departure, "Next #{SEARCH_OPTION_ONE_IN_DAYS} days", :for => "ride_departure_first_option" %>
              </td>
              <td>
                <%= f.radio_button :departure, 'second_option' %>
              </td>
              <td>
                <%= f.label :departure, "Next #{SEARCH_OPTION_TWO_IN_DAYS} days", :for => 'ride_departure_second_option' %>
              </td>
            </tr>
          </table>





        </li>
      </ul>
    </fieldset>
    <%= hidden_field_tag :search_posted, "true" %>
  <% end %> <!-- #RideSearch -->


  <div class="PostRideBanner">
    <h3>Don't see what you're looking for?</h3>
    <p>Get notified when new matches are found!</p>
    <a href="/rides/new">Post a Ride</a>
  </div> <!-- PostRideBanner -->










  			<div class="RidesWrapper">
				<h3>Departing Today - Thursday, February 2</h3>
				<div class="Legend">
					<span class="Estimated">Prices &amp; Times <a class="HelpTooltip" title="Prices are estimated using taxi or black car fares given your location and airport. For example, a taxi to JFK is a flat $45 before tip &amp; toll, black car service is typically $60 to $80.<span class='TooltipArrow'>Arrow</span>">?</a></span>
				</div>
				<ul class="RidesList">
					<li>
						<div class="SelectRide">
							<a class="RideInfoBtn">
								<span>approx.</span>
								<strong>$20</strong>
								<span>45 min</span>
							</a>
							<a class="Select">Select</a>
						</div> <!-- SelectRide -->
						<table class="RideDetails">
							<tr>
								<th class="Leave" scope="row"><span class="Icon">Icon</span> Leave:</th>
								<td class="LeaveArriveTime"><strong>4:00pm</strong></td>
								<td class="PlusMinus">&plusmn; 15 min.</td>
								<td><strong>New York University (NYU)</strong></td>
							</tr>
							<tr>
								<th class="Arrive" scope="row"><span class="Icon">Icon</span> Arrive:</th>
								<td class="LeaveArriveTime"><strong>4:45pm</strong></td>
								<td class="PlusMinus">&plusmn; 15 min.</td>
								<td><strong>JFK Terminal 5 <span class="SameLocationIcon">Check</span></strong></td>
							</tr>
						</table> <!-- RideDetails -->
						<img src="images/cartype_taxi.png" class="RideType" alt="Taxi" width="93" height="51" />
						<ul class="UserList">
							<li>
								<a href="#" class="UserPhoto" id="Trigger_UserID_001"><img src="images/temp-user_60x60.jpg" alt="temp_user_60x60" width="60" height="60" /></a>
								<a href="#" class="UserName">Benjamin B.</a>
								<!-- HIDDEN TOOLTIP -->
								<div class="UserTooltip" id="TT_UserID_001">
									<h4><a href="#">Benjamin B.</a> from New York, NY</h4>
									<p><em>Can't wait for Thanksgiving vacation!</em></p>
									<div class="UserInfo">
										<div class="UserPhoto">
											<img src="images/temp_user_80x80.jpg" alt="temp_user_80x80" width="80" height="80" />
										</div>
										<ul>
											<li>Facebook <em>(<a href="#">536 friends</a>)</em></li>
											<li>12 past rides, <a href="#">8 feedback</a> (97%)</li>
											<li><strong>Networks: </strong>UC Berkely, Miramonte High</li>
										</ul>
									</div>
									<span class="TooltipArrow">Arrow</span>
								</div> <!-- UserTooltip -->
							</li>
							<li>
								<a href="#" class="UserPhoto" id="Trigger_UserID_002"><img src="images/temp-user_60x60.jpg" alt="temp_user_60x60" width="60" height="60" /></a>
								<a href="#" class="UserName">Benjamin B.</a>
								<!-- HIDDEN TOOLTIP -->
								<div class="UserTooltip" id="TT_UserID_002">
									<h4><a href="#">Benjamin B.</a> from New York, NY</h4>
									<p><em>Can't wait for Thanksgiving vacation!</em></p>
									<div class="UserInfo">
										<div class="UserPhoto">
											<img src="images/temp_user_80x80.jpg" alt="temp_user_80x80" width="80" height="80" />
										</div>
										<ul>
											<li>Facebook <em>(<a href="#">536 friends</a>)</em></li>
											<li>12 past rides, <a href="#">8 feedback</a> (97%)</li>
											<li><strong>Networks: </strong>UC Berkely, Miramonte High</li>
										</ul>
									</div>
									<span class="TooltipArrow">Arrow</span>
								</div> <!-- UserTooltip -->
							</li>
							<li>
								<a class="EmptySeat" id="Trigger_UserID_003"><img src="images/emptyseat_60x60.png" alt="emptyseat_60x60" width="60" height="60" /></a>
								<a href="#" class="UserName">+1 Seat Open</a>
								<!-- HIDDEN TOOLTIP -->
								<div class="UserTooltip" id="TT_UserID_003">
									<h4><a href="#">Benjamin B.</a> from New York, NY</h4>
									<p><em>Can't wait for Thanksgiving vacation!</em></p>
									<div class="UserInfo">
										<div class="UserPhoto">
											<img src="images/temp_user_80x80.jpg" alt="temp_user_80x80" width="80" height="80" />
										</div>
										<ul>
											<li>Facebook <em>(<a href="#">536 friends</a>)</em></li>
											<li>12 past rides, <a href="#">8 feedback</a> (97%)</li>
											<li><strong>Networks: </strong>UC Berkely, Miramonte High</li>
										</ul>
									</div>
									<span class="TooltipArrow">Arrow</span>
								</div> <!-- UserTooltip -->
							</li>
							<li class="Arrow">Arrow</li>
						</ul> <!-- UserList -->
					</li> <!-- END OF A RIDE -->
					<li>
						<div class="SelectRide">
							<a class="RideInfoBtn">
								<span>approx.</span>
								<strong>$20</strong>
								<span>45 min</span>
							</a>
							<a class="Select">Select</a>
						</div> <!-- SelectRide -->
						<table class="RideDetails">
							<tr>
								<th class="Leave" scope="row"><span class="Icon">Icon</span> Leave:</th>
								<td class="LeaveArriveTime"><strong>4:00pm</strong></td>
								<td class="PlusMinus">&plusmn; 15 min.</td>
								<td><strong>New York University (NYU)</strong></td>
							</tr>
							<tr>
								<th class="Arrive" scope="row"><span class="Icon">Icon</span> Arrive:</th>
								<td class="LeaveArriveTime"><strong>4:45pm</strong></td>
								<td class="PlusMinus">&plusmn; 15 min.</td>
								<td><strong>JFK Terminal 5 <span class="NotSameLocationIcon">!</span></strong></td>
							</tr>
						</table> <!-- RideDetails -->
						<img src="images/cartype_limo.png" class="RideType" alt="Black Car" width="93" height="51" />
						<ul class="UserList">
							<li>
								<a href="#" class="UserPhoto"><img src="images/temp-user_60x60.jpg" alt="temp_user_60x60" width="60" height="60" /></a>
								<a href="#" class="UserName">Benjamin B.</a>
							</li>
							<li>
								<a href="#" class="UserPhoto"><img src="images/temp-user_60x60.jpg" alt="temp_user_60x60" width="60" height="60" /></a>
								<a href="#" class="UserName">Benjamin B.</a>
							</li>
							<li>
								<a class="EmptySeat"><img src="images/emptyseat_60x60.png" alt="emptyseat_60x60" width="60" height="60" /></a>
								<a href="#" class="UserName">+1 Seat Open</a>
							</li>
							<li class="Arrow">Arrow</li>
						</ul> <!-- RiderList -->
						<ul class="FriendsInCommon">
							<li><strong><em>2 mutual friends!</em></strong></li>
							<li>
								<a href="#" class="UserPhoto"><img src="images/temp_user_30x30.jpg" alt="temp_user_30x30" width="30" height="30" /></a>
								<a href="#" class="UserName">Benjamin B.</a>
							</li>
							<li>
								<a href="#" class="UserPhoto"><img src="images/temp_user_30x30.jpg" alt="temp_user_30x30" width="30" height="30" /></a>
								<a href="#" class="UserName">Benjamin B.</a>
							</li>
						</ul>
					</li> <!-- END OF A RIDE -->
					<li>
						<div class="SelectRide">
							<a class="RideInfoBtn">
								<span>approx.</span>
								<strong>$20</strong>
								<span>45 min</span>
							</a>
							<a class="Select">Select</a>
						</div> <!-- SelectRide -->
						<table class="RideDetails">
							<tr>
								<th class="Leave" scope="row"><span class="Icon">Icon</span> Leave:</th>
								<td class="LeaveArriveTime"><strong>4:00pm</strong></td>
								<td class="PlusMinus">&plusmn; 15 min.</td>
								<td><strong>New York University (NYU)</strong></td>
							</tr>
							<tr>
								<th class="Arrive" scope="row"><span class="Icon">Icon</span> Arrive:</th>
								<td class="LeaveArriveTime"><strong>4:45pm</strong></td>
								<td class="PlusMinus">&plusmn; 15 min.</td>
								<td><strong>JFK Terminal 5 <span class="SameLocationIcon">Check</span></strong></td>
							</tr>
						</table> <!-- RideDetails -->
						<img src="images/cartype_taxi.png" class="RideType" alt="Taxi" width="93" height="51" />
						<ul class="UserList">
							<li>
								<a href="#" class="UserPhoto"><img src="images/temp-user_60x60.jpg" alt="temp_user_60x60" width="60" height="60" /></a>
								<a href="#" class="UserName">Benjamin B.</a>
							</li>
							<li>
								<a href="#" class="UserPhoto"><img src="images/temp-user_60x60.jpg" alt="temp_user_60x60" width="60" height="60" /></a>
								<a href="#" class="UserName">Benjamin B.</a>
							</li>
							<li>
								<a class="EmptySeat"><img src="images/emptyseat_60x60.png" alt="emptyseat_60x60" width="60" height="60" /></a>
								<a href="#" class="UserName">+1 Seat Open</a>
							</li>
							<li class="Arrow">Arrow</li>
						</ul> <!-- RiderList -->
					</li> <!-- END OF A RIDE -->
					<li>
						<div class="SelectRide">
							<a class="RideInfoBtn">
								<span>approx.</span>
								<strong>$20</strong>
								<span>45 min</span>
							</a>
							<a class="Select">Select</a>
						</div> <!-- SelectRide -->
						<table class="RideDetails">
							<tr>
								<th class="Leave" scope="row"><span class="Icon">Icon</span> Leave:</th>
								<td class="LeaveArriveTime"><strong>4:00pm</strong></td>
								<td class="PlusMinus">&plusmn; 15 min.</td>
								<td><strong>New York University (NYU)</strong></td>
							</tr>
							<tr>
								<th class="Arrive" scope="row"><span class="Icon">Icon</span> Arrive:</th>
								<td class="LeaveArriveTime"><strong>4:45pm</strong></td>
								<td class="PlusMinus">&plusmn; 15 min.</td>
								<td><strong>JFK Terminal 5 <span class="SameLocationIcon">Check</span></strong></td>
							</tr>
						</table> <!-- RideDetails -->
						<img src="images/cartype_taxi.png" class="RideType" alt="Taxi" width="93" height="51" />
						<ul class="UserList">
							<li>
								<a href="#" class="UserPhoto"><img src="images/temp-user_60x60.jpg" alt="temp_user_60x60" width="60" height="60" /></a>
								<a href="#" class="UserName">Benjamin B.</a>
							</li>
							<li>
								<a href="#" class="UserPhoto"><img src="images/temp-user_60x60.jpg" alt="temp_user_60x60" width="60" height="60" /></a>
								<a href="#" class="UserName">Benjamin B.</a>
							</li>
							<li>
								<a class="EmptySeat"><img src="images/emptyseat_60x60.png" alt="emptyseat_60x60" width="60" height="60" /></a>
								<a href="#" class="UserName">+1 Seat Open</a>
							</li>
							<li class="Arrow">Arrow</li>
						</ul> <!-- RiderList -->
					</li> <!-- END OF A RIDE -->
				</ul>
				<h3>Departing Tomorrow - Friday, February 3</h3>
				<ul class="RidesList">
					<li>
						<div class="SelectRide">
							<a class="RideInfoBtn">
								<span>Sold Out!</span>
								<strong>Full</strong>
								<span>Ride</span>
							</a>
							<a class="PostSimilar">Post Similar</a>
						</div> <!-- SelectRide -->
						<table class="RideDetails">
							<tr>
								<th class="Leave" scope="row"><span class="Icon">Icon</span> Leave:</th>
								<td class="LeaveArriveTime"><strong>4:00pm</strong></td>
								<td class="PlusMinus">&plusmn; 15 min.</td>
								<td><strong>New York University (NYU)</strong></td>
							</tr>
							<tr>
								<th class="Arrive" scope="row"><span class="Icon">Icon</span> Arrive:</th>
								<td class="LeaveArriveTime"><strong>4:45pm</strong></td>
								<td class="PlusMinus">&plusmn; 15 min.</td>
								<td><strong>JFK Terminal 5 <span class="SameLocationIcon">Check</span></strong></td>
							</tr>
						</table> <!-- RideDetails -->
						<img src="images/cartype_taxi.png" class="RideType" alt="Taxi" width="93" height="51" />
						<ul class="UserList">
							<li>
								<a href="#" class="UserPhoto"><img src="images/temp-user_60x60.jpg" alt="temp_user_60x60" width="60" height="60" /></a>
								<a href="#" class="UserName">Benjamin B.</a>
							</li>
							<li>
								<a href="#" class="UserPhoto"><img src="images/temp-user_60x60.jpg" alt="temp_user_60x60" width="60" height="60" /></a>
								<a href="#" class="UserName">Benjamin B.</a>
							</li>
							<li>
								<a class="EmptySeat"><img src="images/emptyseat_60x60.png" alt="emptyseat_60x60" width="60" height="60" /></a>
								<a href="#" class="UserName">+1 Seat Open</a>
							</li>
							<li class="Arrow">Arrow</li>
						</ul> <!-- RiderList -->
					</li></ul> <!-- END OF A RIDE -->
					<ul class="RidesList">
					<li>
						<div class="SelectRide">
							<a class="RideInfoBtn">
								<span>approx.</span>
								<strong>$20</strong>
								<span>45 min</span>
							</a>
							<a class="Select">Select</a>
						</div> <!-- SelectRide -->
						<table class="RideDetails">
							<tr>
								<th class="Leave" scope="row"><span class="Icon">Icon</span> Leave:</th>
								<td class="LeaveArriveTime"><strong>4:00pm</strong></td>
								<td class="PlusMinus">&plusmn; 15 min.</td>
								<td><strong>New York University (NYU)</strong></td>
							</tr>
							<tr>
								<th class="Arrive" scope="row"><span class="Icon">Icon</span> Arrive:</th>
								<td class="LeaveArriveTime"><strong>4:45pm</strong></td>
								<td class="PlusMinus">&plusmn; 15 min.</td>
								<td><strong>JFK Terminal 5 <span class="SameLocationIcon">Check</span></strong></td>
							</tr>
						</table> <!-- RideDetails -->
						<img src="images/cartype_taxi.png" class="RideType" alt="Taxi" width="93" height="51" />
						<ul class="UserList">
							<li>
								<a href="#" class="UserPhoto"><img src="images/temp-user_60x60.jpg" alt="temp_user_60x60" width="60" height="60" /></a>
								<a href="#" class="UserName">Benjamin B.</a>
							</li>
							<li>
								<a href="#" class="UserPhoto"><img src="images/temp-user_60x60.jpg" alt="temp_user_60x60" width="60" height="60" /></a>
								<a href="#" class="UserName">Benjamin B.</a>
							</li>
							<li>
								<a class="EmptySeat"><img src="images/emptyseat_60x60.png" alt="emptyseat_60x60" width="60" height="60" /></a>
								<a href="#" class="UserName">+1 Seat Open</a>
							</li>
							<li class="Arrow">Arrow</li>
						</ul> <!-- RiderList -->
					</li> <!-- END OF A RIDE -->
				</ul> <!-- RiderList -->
			</div> <!-- RidesWrapper -->
	














  <p class="Pagination"><a href="#">1</a> | <a href="#">2</a> | <a href="#">3</a> | <a href="#">4</a> | <a href="#">5</a> <a href="#">&raquo;</a></p>
</section> <!-- Main #FindaRide -->










