<div class="subnav">
  <ul class="nav-pills nav">
    <li>
      <%= link_to "My Ride", rides_path %>
    </li>
    <li>
      <%= link_to "Ride input page", new_ride_path %>
    </li>
    <li class="active">
      <%= link_to "Ride search page", search_rides_path %>
    </li>
    <li>
      <%= link_to "My Dashboard", dashboard_path %>
    </li>
  </ul>
</div>
<br/>
<h4> Search Query</h4>
<%= form_for :ride, :url => search_rides_path, :method => "get" do |f| %>
  <div class="field">
    <%= f.label :from_city %>
    <%= f.select :from_location_id, Location.all.collect {|p| [ p.name, p.id ] }, :include_blank => "----select city -----" %>
  </div>
  <div class="field">
    <%= f.label :to_city %>
    <%= f.select :to_location_id, Location.all.collect {|p| [ p.name, p.id ] }, :include_blank => "----select city -----" %>
  </div>
  <table>
    <tr>
      <td>
        <%= f.radio_button :departure, 'all', :checked =>true %>
      </td>
      <td>
        <%= f.label :departure, 'All', :for => 'ride_departure_all'%>
      </td>
      <td>
        <%= f.radio_button :departure, 'first_option' %>
      </td>
      <td>
        <%= f.label :departure, "Next #{SEARCH_OPTION_ONE_IN_DAYS} days", :for => "ride_departure_first_option"%>
      </td>
      <td>
        <%= f.radio_button :departure , 'second_option' %>
      </td>
      <td>
        <%= f.label :departure, "Next #{SEARCH_OPTION_TWO_IN_DAYS} days", :for => 'ride_departure_second_option'%>
      </td>
    </tr>
  </table>

  <%= f.submit "search" %>

<% end %>
<table border="1" cellpadding="3">
  <tr>
    <th>Pick</th>
    <th>Riders</th>
    <th>From</th>
    <th>To</th>
    <th>Departure date</th>
    <th>Departure time</th>
    <th>Arrival time</th>
    <th>Flexibility</th>
    <th>Duration</th>
    <th>Vehicle Type</th>
    <th>Available Seats</th>
    <th>Total Price</th>
    <th>Notes</th>
  </tr>
  <% if @rides.empty? %>
    <tr><td colspan="12">No records</td></tr>
  <% end %>
  <%@rides.each do |ride| %>
    <tr align="center">
      <td><%= link_to 'Select', new_ride_ride_participant_path(ride) %></td>
      <td><%= ride.active_participants %></td>
      <td><%= ride.from_location && ride.from_location.name %></td>
      <td><%= ride.to_location && ride.to_location.name %></td>
      <td><%= ride.departure_date %></td>
      <td><%= ride.departure_time.strftime("%H:%M %Z") %></td>
      <td><%= (ride.departure_time + ride.duration_in_minutes.minutes).strftime("%H:%M %Z")  %></td>
      <td><%= ride.flexibility_in_minutes %> mins</td>
      <td><%= time_to_minutes(ride.duration_in_minutes) %></td>
      <td><%= ride.ride_type %></td>
      <td><%= ride.remaining_seats %></td>
      <td><%= number_to_currency(ride.total_price)%></td>
      <td><%= ride.notes%></td>
    </tr>
  <%end%>
</table>
  <%= will_paginate @rides %>
