<%= stylesheet_link_tag "search-yui-reset-min", "search-style", "search-master", "search-custom_jqueryui" %>
<%= javascript_include_tag "jquery.ui.map.full.min"%>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&libraries=places"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $( "#ride_departure_date" ).datepicker({
      dateFormat: "yy-mm-dd",
      minDate: 0, maxDate: "+1Y"
    });

    $(".edit_ride").submit(function(){
      if($('#ride_departure_date').val()==""){
        $(".date-check-step2").show()
        return false;
      }
      else if ($('#ride_duration_minutes').val()==0 && $('#ride_duration_hours').val()==0){
        $(".check-duration").show();
        return false;
      }
      else if ($('#ride_flexibility_in_minutes').val()==""){
        $(".check-flexibility").show();
        return false;
      }
      else if (($("input#ride_departure_date").val() == "<%=RequestLogger.sp_clock_time_with_zone.strftime("%Y-%m-%d")%>" ) && ($("#ride_departure_time_4i").val() < <%=RequestLogger.sp_clock_time_with_zone.hour%>) && (($("#ride_departure_time_5i").val() <= <%=RequestLogger.sp_clock_time_with_zone.min%>) || ($("#ride_departure_time_5i").val() > <%=RequestLogger.sp_clock_time_with_zone.min%>)) ){           // check for post ride w.r.t to time duration that defined
        $(".before-1hr-booking").show();
        return false;
      }
      else if ( ($("input#ride_departure_date").val() == "<%=RequestLogger.sp_clock_time_with_zone.strftime("%Y-%m-%d")%>" ) && ($("#ride_departure_time_4i").val() == <%=RequestLogger.sp_clock_time_with_zone.hour%>) && (($("#ride_departure_time_5i").val() <= <%=RequestLogger.sp_clock_time_with_zone.min%>) || ($("#ride_departure_time_5i").val() > <%=RequestLogger.sp_clock_time_with_zone.min%>)) ){
       $(".before-1hr-booking").show();
        return false;
      }
      else if (($("input#ride_departure_date").val() == "<%=RequestLogger.sp_clock_time_with_zone.strftime("%Y-%m-%d")%>" ) && (($("#ride_departure_time_4i").val() == <%=RequestLogger.sp_clock_time_with_zone.hour - 1%>) || ($("#ride_departure_time_4i").val() == <%=RequestLogger.sp_clock_time_with_zone.hour + 1%>) ) && ($("#ride_departure_time_5i").val() <= <%=RequestLogger.sp_clock_time_with_zone.min%>) ){
        $(".after-1hr-booking").show();
        return false;
      }
      else{
        return true;
      }
    });

    $('#ride_duration_minutes').change(function() {
      if($(this).val() != 0)
        $(".check-duration").hide();
    });

    $('#ride_duration_hours').change(function() {
      if($(this).val() != 0)
        $(".check-duration").hide();
    });

    $('#ride_flexibility_in_minutes').change(function() {
      if($(this).val() != "")
        $(".check-flexibility").hide();
    });

    $("input#ride_departure_date").change(function(){
      if($(this).val() != "")
        $(".date-check-step2").hide();
    });

    <% if @ride.to_location.present? && @ride.from_location.present? %>
      $('#map_canvas').gmap('displayDirections', { 'origin': '<%= "#{@ride.from_location.name} #{@ride.from_location.google_helper}".strip %>', 'destination': '<%= "#{@ride.to_location.name} #{@ride.to_location.google_helper}".strip %>', 'travelMode': google.maps.DirectionsTravelMode.DRIVING }, { 'panel': document.getElementById('results') }, function(result, status) {               // google map 
          if ( status === 'OK' ){
            var METERS_TO_MILES = 0.000621371192;
            totalDistance = result.routes[0].legs[0].distance.value;
            totalDistance = (Math.round( totalDistance * METERS_TO_MILES * 10 ) / 10)
            var fare = 3.0;
            var fare2 = 0;
            var fare3 = 0;
            var dayOfWeek;
            var date = $("#ride_departure_date").datepicker('getDate');
            dayOfWeek = date.getUTCDay();
            fare = (totalDistance * (0.4/0.2))+fare;
            fare2 = fare + 0.50;
            fare3 = fare + 1;

            $("#distance").text("distance: "+totalDistance+' miles');
            $("#duration").text("duration: "+result.routes[0].legs[0].duration.text);
            if("<%= @ride.to_location.name %>" == "(JFK) John F. Kennedy"){
              $('#fare').text("Estimated Taxi Fare: $45");
            }
            else if("<%=  @ride.to_location.name %>" == "(JFK) John F. Kennedy"){
              $('#fare').text("Estimated Taxi Fare: $45");
            }
            else{
              var fare = 3.0;
              fare = (totalDistance * (0.4/0.2))+fare;
              $('#fare').text("Estimated Taxi Fare: $"+fare);
            }
            $("#ride_departure_time_4i").change(function(){
            if($(this).find("option:selected").text() == "01 AM" || $(this).find("option:selected").text() == "02 AM" || $(this).find("option:selected").text() == "03 AM" || $(this).find("option:selected").text() == "04 AM" || $(this).find("option:selected").text() == "05 AM" || $(this).find("option:selected").text() == "09 PM" || $(this).find("option:selected").text() == "10 PM" || $(this).find("option:selected").text() == "11 PM")
             $('#fare').text("Estimated Taxi Fare: $"+fare2);
            else if((0 <= dayOfWeek && dayOfWeek < 5) && ($("#ride_departure_time_4i").val() >= 16 && $("#ride_departure_time_4i").val() <= 19 && $("#ride_departure_time_5i").val() >= 0 && $("#ride_departure_time_5i").val() <= 59 )){
             $('#fare').text("Estimated Taxi Fare: $"+fare3);
            }
            else{
              var fare = 3.0;
              fare = (totalDistance * (0.4/0.2))+fare;
              $('#fare').text("Estimated Taxi Fare: $"+fare);
            }
          });
           $("#ride_departure_date").change(function(){
            var date = $(this).datepicker('getDate');
            dayOfWeek = date.getUTCDay();
            if((0 <= dayOfWeek && dayOfWeek < 5) && ($("#ride_departure_time_4i").val() >= 16 && $("#ride_departure_time_4i").val() <= 19 && $("#ride_departure_time_5i").val() >= 0 && $("#ride_departure_time_5i").val() <= 59 )){
             $('#fare').text("Estimated Taxi Fare: $"+fare3);
            }
            else{
            var fare = 3.0;
            fare = (totalDistance * (0.4/0.2))+fare;
            $('#fare').text("Estimated Taxi Fare: $"+fare);
            }
          });
          }
        });
<% end %>
    $('#ride_departure_time_4i').change(function() {
       if ($("#ride_departure_time_4i").val() >= <%=RequestLogger.sp_clock_time_with_zone.hour%>)
         $(".before-1hr-booking").hide();
         $(".after-1hr-booking").hide();

    });

    $('#ride_departure_time_5i').change(function() {
     if (($("#ride_departure_time_4i").val() >= <%=RequestLogger.sp_clock_time_with_zone.hour%>) && ($("#ride_departure_time_5i").val() > <%=RequestLogger.sp_clock_time_with_zone.min%>) )
     $(".before-1hr-booking").hide();
    });

      new_hour = <%=  @ride.departuredatetime.hour %>
      new_min = <%=  @ride.departuredatetime.min %>

      alert(new_hour + new_min);

 });
</script>
<div id="container">
  <div id="header_wrap" style="margin-top: 22px;">
    <div id="header">
      <%= link_to image_tag("shareshuttle_logo_sm.png", :class=>"left"), root_path %>
      <div style="clear:both"></div>
    </div>
  </div>

  <ul id="scale">
    <li>1. Where To?</li>
    <li class="active">2. What Time?</li>
    <li class="last">3. What Else?</li>
  </ul>
  <div style="clear:both"></div>
  <%= form_for @ride do |f| %>                                                  <!-- form for update post ride step 2 -->
    <% if @ride.errors.any? %>
      <div class="error_messages">
        <h2>Form is invalid</h2>
        <ul>
          <% for message in @ride.errors.full_messages %>
            <li><%= message%></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= hidden_field_tag :next_step, "update_post_three" %>

    <div id="leftContainer" style="width:600px; float:left; margin-top:50px;">

      <div class="left" style="margin-right:20px;">
        <p><b>Depart</b></p>
        <%= f.text_field :departure_date, :value => (f.object.departure_date || RequestLogger.sp_clock_date) %>
        <div class="date-check-step2" style="display:none; color: red; margin-bottom: -6px">Departure Date can't be blank</div>
      </div>

      <div class="left" style="margin-right:20px;">
        <p><b>Time</b></p>
        <%= f.time_select :departure_time, {:minute_step => 15, :ampm => true}, {:style => "width:110px"} %>
        <div class="before-1hr-booking" style="display: none; color: red;">Booking from current time</div>
        <div class="after-1hr-booking" style="display: none; color: red;">After 1 hour Booking allowed</div>
      </div>

     <div class="left" style="margin-right:20px;">
        <p><b>New Time</b></p>
        <%= f.select :new_departure_time, NEW_DEPARTURE_TIME %>
        <%= f.select :ampm_time, AM_PM_TIME %>
        <div class="before-1hr-booking" style="display: none; color: red;">Booking from current time</div>
        <div class="after-1hr-booking" style="display: none; color: red;">After 1 hour Booking allowed</div>
        <div class="passed-booking" style="display: none; color: red;">booking time has been passed select another</div>
      </div>

      <div class="left" style="margin-right:20px;">
        <p><b>Departure flexibility</b></p>
        <%= f.select :flexibility_in_minutes, ((5..30).step(5).collect{|t| ["#{t} mins", t]}), {:include_blank => "± minutes"}, {:style => "width:110px"} %>
        <div class="check-flexibility" style="display: none; color: red;">Select Some Flexibility</div>
      </div>

      <div class="left" style="margin-right:20px;">
        <p><b>Trip Duration</b></p>
        <%= f.select :duration_hours, (0..3).collect{|t| ["0#{t}", t]}, {}, {:class => "duration-change", :style => "display:none; width:110px"} %>
        <%= f.select :duration_minutes, (5..90).step(5).collect{|t| [to_minutes(t), t]}, {}, {:class => "duration-change", :style => "width:110px"} %>mins
        <div class="check-duration" style="display: none; color: red;">Select Some duration</div>

      </div>

      <div style="clear:both">
        <a href="<%=edit_ride_path%>" style="float:left; margin-right: 10px;margin-top:40px;border-color: white; border-style: solid; border-width: 1px; color: black; background: none repeat scroll 0% 0% transparent; width: 87px; font-size: 13px; height: 26px; height: 26px;text-align: center; line-height: 25px; ">Back</a>
        <input type="submit" value="Next Step" style="margin-top:40px;border-color: rgb(47, 87, 28) rgb(47, 87, 28) rgb(40, 77, 23); border-style: solid; border-width: 1px; color: rgb(255, 255, 255); padding: 3px 12px; background: none repeat scroll 0% 0% rgb(110, 169, 83); width: 103px; font-size: 13px; height: 29px; " name="commit" class="ride-check-btn"/>
      </div>

    </div>
  <% end %>
</div>
<div id="map_canvas" style="height:350px; width: 500px;"></div><br/>            <!-- google map show here -->
<div id="results" style="display:none;">
  <div id="directions"></div>

</div>

 <div id="distance">
  </div>
  <div id="duration">
  </div>
  <div id="fare">
  </div>
