<!DOCTYPE html>
<html>
  <head>
    <title>SPC2</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "jquery-min", "jquery-ui.min" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "SP_C2", root_path, :class => "brand" %>
          <div class="nav-collapse">
            <ul class="nav">
              <% if current_user %>
                <li>Logged in as <%= current_user.email %>.</li>
                <li><%= link_to "Log out", logout_path %></li>
              <% else %>
                <li><%= link_to "Sign up", signup_path %> </li>
                <li><%= link_to "Log in", login_path  %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <section id="code">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <% end %>
      </section>
    </div>
    <div class="container">
      <section id="forms">
        <%= yield %>
      </section>
    </div>
  </body>
</html>
