<!DOCTYPE html>
<html>
  <head>
    <title>SPC2</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "jquery-min", "jquery-ui.min" %>
    <%= stylesheet_link_tag "search-yui-reset-min", "search-style", "search-master", "search-custom_jqueryui" %>

    <%= csrf_meta_tags %>
    <% if production? &&  KISSMETRICS_TOGGLE=="ON"%>
      <%= raw KISSMETRICS %>
     <% end %>
  </head>  
  <body data-twttr-rendered="true">
    <% if production? %>
      <% if GOOGLE_ANALYTICS_TOGGLE=="ON"%>
        <%= raw GOOGLE_ANALYTICS %>
      <% end %>
      <% if MIXPANEL_TOGGLE=="ON"%>
        <%= raw MIXPANEL %>
      <% end %>
      <% if GETCLICKY_TOGGLE=="ON"%>
        <%= raw GETCLICKY %>
      <% end %>
      <% if CRAZYEGG_TOGGLE=="ON"%>
        <%= raw CRAZYEGG %>
      <% end %>
    <% end %>
    <div class="clear"> </div>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>
    <%= yield %>

    <div id="footer">
      <a class="km_click_event_by_text" href="<%= about_footers_path %>">About & Safety</a>
      <a class="km_click_event_by_text" href="<%= how_it_works_footers_path %>">How It Works</a>
      <a class="km_click_event_by_text" href="<%= terms_footers_path %>">Terms &amp; Privacy</a>
      <span>

      </span>
      <span id="copyright">© 2012 ShareShuttle</a></span>
    </div>

  </body>
</html>
