<!DOCTYPE html>
<html>
  <head>
    <title>SPC2</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "jquery-min", "jquery-ui.min" %>
    <%= stylesheet_link_tag "search-yui-reset-min", "search-style", "search-master", "search-custom_jqueryui" %>

    <%= csrf_meta_tags %>
    <% if production? &&  KISSMETRICS_TOGGLE=="ON"%>
      <%= raw KISSMETRICS %>
     <% end %>
  </head>  
  <body data-twttr-rendered="true">
    <% if production? %>
      <% if GOOGLE_ANALYTICS_TOGGLE=="ON"%>
        <%= raw GOOGLE_ANALYTICS %>
      <% end %>
      <% if MIXPANEL_TOGGLE=="ON"%>
        <%= raw MIXPANEL %>
      <% end %>
      <% if GETCLICKY_TOGGLE=="ON"%>
        <%= raw GETCLICKY %>
      <% end %>
      <% if CRAZYEGG_TOGGLE=="ON"%>
        <%= raw CRAZYEGG %>
      <% end %>
    <% end %>
    <div class="clear"> </div>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>
    <div class="nav-bar">
  <ul style="float: right; margin-right: 40px;">
    <% if current_user %>
    <div style="color: #FFFFFF;">
      <li style="float: left;"><%= link_to "Post a Ride", new_ride_path  %></li>
      <li style="float: left; width: 25px;"><%= image_tag current_user.user_image_url %></li>
      <li style="float: left;">&nbsp;&nbsp;<a href="<%=  user_path(current_user) %>"><%= current_user.first_name %>&nbsp;<%= current_user.last_name.chars.first %></a></li>
      <li style="float: left;">&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "edit profile", edit_user_path(current_user) %></li>
      <li style="float: left;">&nbsp;&nbsp;&nbsp;<%= link_to " Log out ", logout_path %></li></div>
    <% else %>
      <li style="float: left;"><%= link_to "Post a Ride", new_ride_path  %></li>
      <li style="float: left;">&nbsp;&nbsp;&nbsp;<%= link_to "Login in", login_path  %></li>
      <li style="float: left;">&nbsp;&nbsp;&nbsp;<%= link_to "Sign up", signup_path  %></li>
   <% end %>
   </ul>
      <% if current_user %>
      <ul style="float: left; margin-left: 20px;">
       <li style="float: left;">&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "Dashboard", dashboard_path %></li>
       <li style="float: left;">&nbsp;&nbsp;&nbsp;<%= link_to "Inbox", logout_path %></li></div>
      </ul><%end%>
   </div>
    <%= yield %>

    <div id="footer">
      <a class="km_click_event_by_text" href="<%= about_footers_path %>">About</a>
      <a class="km_click_event_by_text" href="<%= how_it_works_footers_path %>">How it Works & FAQ</a>
      <a class="km_click_event_by_text" href="<%= terms_footers_path %>">Terms &amp; Privacy</a>
      <span>

      </span>
      <span id="copyright">© 2012 ShareShuttle</a></span>
    </div>

  </body>
</html>
