<!doctype html>
<html>
  <head>
    <title>Shairporter</title>
    <%= stylesheet_link_tag 'reset','chosen','sp','jquery-ui-1.8.20.custom', 'styles','jquery.alerts', :media => 'all' %>

  <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

    <%= javascript_include_tag 'jquery-1.6.4.min', 'jquery.tools.min', 'chosen.jquery.min', 'jquery.cycle.lite', 'sp.js', 'jquery-ui-1.8.20.custom.min.js', 'jquery.alerts'%>
    <%= javascript_include_tag 'jcarousellite_1.0.1c4' %>


    <script src="http://use.typekit.com/ofi5buc.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

    <script type="text/javascript">
      $(document).ready(function() {
        $('.CycleInnerWrapper').cycle();
      });
    </script>

<!-- Facebook Like Widget -->
<!-- NEED TO CHANGE THE APP ID TO SHAIRPORTER'S DEV ACCOUNT!!!! -->
    <script type="text/javascript">
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=123432363393"; /* NEED TO CHANGE THE APP ID TO SHAIRPORTER'S DEV ACCOUNT!!! */
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <%= csrf_meta_tags %>

  <% if production? &&  KISSMETRICS_TOGGLE=="ON"%>
    <%= raw KISSMETRICS %>
  <% end %>

  <%= yield :top_js %>
  <%= yield :top_css %>
</head>  
<body data-twttr-rendered="true" class="<%= @body_css_class %>">
  <div id="login-popup"></div>

  <div id="fb-root"></div> <!-- Facebook Application Thingamajig -->
  <% if production? && false %>
    <% if GOOGLE_ANALYTICS_TOGGLE=="ON"%>                                     <!-- google analytics toogle  -->
      <%= raw GOOGLE_ANALYTICS %>
    <% end %>
    <% if MIXPANEL_TOGGLE=="ON"%>                                             <!-- mixpanel toogle -->
      <%= raw MIXPANEL %>
    <% end %>
    <% if GETCLICKY_TOGGLE=="ON"%>                                            <!-- get clicky toogle -->
      <%= raw GETCLICKY %>
    <% end %>
    <% if CRAZYEGG_TOGGLE=="ON"%>                                             <!-- crazyegg toogle -->
      <%= raw CRAZYEGG %>
    <% end %>
  <% end %>
  <div class="clear"> </div>
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>

  <header>
    <section>
      <h1><a href="/" title="Home"><%= image_tag 'shairporter_logo_header.png', :alt => "Home" %></a></h1>
      <% if current_user %>
        <%= render :partial => "shared/logged_in_header" %>
      <% else %>
        <%= render :partial => "shared/simple_header" %>
      <% end %>
    </section>
  </header>
  <div class="clear"></div>
<!-- end header -->
  <div class="Container clearfix">
    <%= yield %>
    <footer>
      <section>
        <span class="Copyright">&copy;2012 Shairporter, Inc. All Rights Reserved.</span>
        <nav>
          <ul>
            <li><a href="/footers/how_it_works">How It Works</a></li>
            <li><a href="#">FAQs</a></li>
            <li><a href="#">Safety &amp; Guidelines</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Press</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Terms</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </nav>
        <div class="SocialWrapper">
          <div style="display: inline-block; vertical-align: top;" class="fb-like" data-href="http://shairporter.com" data-send="true" data-layout="button_count" data-width="50" data-show-faces="false" data-font="lucida grande" send="false"></div>
          <g:plusone size="medium"></g:plusone>
          <a href="http://twitter.com/share" class="twitter-share-button" data-url="http://www.shairporter.com" data-text="Awesome way to save money and time by sharing a cab or limo to the airport! http://shairporter.com via @shairporter" data-count="horizontal" data-related="shairporter">Tweet</a><a href="http://twitter.com/shairporter" class="twitter-follow-button" data-show-count="false">Follow @shairporter</a>

          <!-- Place this render call where appropriate -->
          <script type="text/javascript">
					  (function() {
					    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
					    po.src = 'https://apis.google.com/js/plusone.js';
					    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
					  })();
          </script>
        </div>

      </section>

      <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
      <div id="fb-root"></div>
      <script>(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) {return;}
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=164910290244476";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));</script>


      <!-- Place this render call where appropriate -->
      <script type="text/javascript">
			  (function() {
			    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
			    po.src = 'https://apis.google.com/js/plusone.js';
			    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
			  })();
      </script>


    </footer>
    <!-- end footer -->
  </div>
  <!-- end Container -->
</body>
</html>
