<!DOCTYPE html>
<html>
  <head>
    <title>SPC2</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "jquery-min", "jquery-ui.min" %>
    <%= stylesheet_link_tag "search-yui-reset-min", "search-style", "search-master", "search-custom_jqueryui" %>
    <%= csrf_meta_tags %>
  </head>  
<%#*<body data-twttr-rendered="true" id="static_splash2" class="public>%>
  <body data-twttr-rendered="true">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "SP404", root_path, :class => "brand" %>
          <div class="nav-collapse">
            <ul class="nav">
              <% if current_user %>
                <li>Logged in as <%= current_user.email %>.</li>
                <li><%= link_to "Log out", logout_path %></li>
              <% else %>
                <li><%= link_to "Sign up", signup_path %> </li>
                <li><%= link_to "Log in", login_path  %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"> </div>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>
    <%= yield %>

    <div id="footer">
      <a class="km_click_event_by_text" href="http://www.shareshuttle.com/about">About & Safety</a>
      <a class="km_click_event_by_text" href="http://www.shareshuttle.com/howitworks">How It Works</a>
      <a class="km_click_event_by_text" href="http://www.shareshuttle.com/terms">Terms &amp; Privacy</a>
      <span>

      </span>
      <span id="copyright">© 2012 ShareShuttle</a></span>
    </div>

  </body>
</html>
