<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <title>SPC2 - Sign in</title>
    <%#= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <% if production? &&  KISSMETRICS_TOGGLE=="ON"%>                            <!-- kissmetrics toogle here -->
      <%= raw KISSMETRICS %>
     <% end %>
  </head>
  <body>
    <% if production? %>
      <% if GOOGLE_ANALYTICS_TOGGLE=="ON"%>                                     <!-- google analytics toogle -->
        <%= raw GOOGLE_ANALYTICS %>
      <% end %>
      <% if MIXPANEL_TOGGLE=="ON"%>                                             <!-- mixpanel toogle here -->
        <%= raw MIXPANEL %>
      <% end %>
      <% if GETCLICKY_TOGGLE=="ON"%>                                            <!-- get clicky toogle -->
        <%= raw GETCLICKY %>
      <% end %>
      <% if CRAZYEGG_TOGGLE=="ON"%>                                             <!-- crazzyegg toogle -->
        <%= raw CRAZYEGG %>
      <% end %>
    <% end %>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "SP_C2", root_path, :class => "brand" %>
          <div class="nav-collapse">
            <ul class="nav">
              <% if current_user %>                                             <!--main navigation for current user -->
                <li>Logged in as <%= current_user.email %>.</li>
                <li><%= link_to "Sign out", logout_path %></li>
              <% else %>
                <li><%= link_to "Create Account", signup_path %> </li>
                <li><%= link_to "Sign in", login_path  %></li>
              <% end %>

               <% if @user.external? %>
                xvcxvcxv
                <%end%>
            </ul>
          </div>
        </div>
      </div>
    </div>
	<div class="container">
		<div class="content">
			<%= yield %>
		</div>
	</div>     
  </body>
</html>